[2021-06-10 13:46] AntonioCarta opened #664 "ADD early stopping plugin"
Use `stop_training` to implement a basic early stopping plugin.

[2021-06-10 22:04] digantamisra98 commented on #512
@AndreaCossu Here is a basic implementation of artifacts on my [fork](https://github.com/digantamisra98/avalanche/blob/7c54e12a9507c3831d8e7034bc8e5917456115ab/avalanche/logging/wandb_logger.py#L109)

[2021-06-11 10:22] TomVeniat opened #667 "`eval_streams` parameter of `train_exp` can't be null."
🐛 **Describe the bug**
When directly using `train_exp` on a Strategy with `eval_every` >= 0 and `train_streams` set to null, the eval_stream is not set to the given experience as described in the doc, causing an error in `_periodic_eval`.

🐜 **To Reproduce**
[code]

🐝 **Expected behavior**
I think the most intuitive behavior would be to create an evaluation stream only composed of the given traini

[2021-06-11 10:27] AntonioCarta commented on #667
I agree, I'll fix it.

[2021-06-11 15:35] #654 closed

[2021-06-11 16:09] lrzpellegrini commented on #657
I reproduced the error, and it seems to be related to the fact that `isinstance` is checking if the experience is an instance of `Experience` (should return True). The problem is that, when executing its checks, `isinstance` accesses the `task_label` field (it doesn't just check if it exists, it actually tries to gets its value) for reasons beyond my comprehension.

That field will raise and error

[2021-06-12 16:24] Mathieu4141 commented on #659
For strategies inheriting from `BaseStrategy` it should be doable.

For eg the `BaseStrategy` could have an ClassVar `DISABLED_CALLBACKS`, and it would check during in the constructor that the plugins do not overwrite the specified callbacks.

Small POC:

[code]

Now if we try to use the new strategy with a LwF plugin that expects to use the callback, we get a warning

[code]

`WARNING:root:<avala

[2021-06-14 09:05] AntonioCarta commented on #659
@Mathieu4141 I like your proposal. It should be possible to check also the metrics with the same mechanism by checking `self.evaluator.metrics`.

Let me know if you want to implement this solution.

[2021-06-14 10:06] #657 closed

[2021-06-14 11:11] #85 closed

[2021-06-14 11:11] #610 closed

[2021-06-14 16:10] AntonioCarta commented on #667
FYI if you use `train` instead of `train_exp` everything works as you expect.

[2021-06-14 17:14] Mathieu4141 commented on #659
Yes I'd like to implement that, I'll open a PR during the week 🙂

[2021-06-15 19:07] vlomonaco commented on #661
It makes total sense to me!

[2021-06-16 07:27] AndreaCossu commented on #661
I think in this case metrics like `StreamAccuracy` could not be implemented as they are now since they could not know when to emit the values (since `after_eval` would not be available). As a solution, they could emit the cumulative average after each experience and the user should then pick the he is interested in.
The reset of such metrics may also be problematic. They would be forced to reset t

[2021-06-16 07:28] AndreaCossu commented on #660
As long as we still assign the returned values to `self` there should be no modifications to make for the evaluation module.

[2021-06-16 09:14] AntonioCarta commented on #661
This is expected. The point is that the current usage of these callbacks are already problematic and result in wrong implementations.

If you need to control the training/eval loops you need to do it outside the strategies, and you are free to do whatever you want. This is totally independent from the strategy.

[2021-06-16 10:37] TomVeniat commented on #664
Since early stopping was needed for #561, I took a stab at it and proposed an implementation [here](https://github.com/TomVeniat/avalanche/blob/3e3152a77941f3bf2029afd40aeb9efd015dca9b/examples/simple_ctrl.py#L37).
For now, it is just a utility class used in the simple_ctrl.py example but I can create a proper PR to integrate it into the training module.

Before that I would need your help to fix

[2021-06-16 12:35] AntonioCarta commented on #664
Using `after_training_epoch` is correct. The unnecessary checks should not be a problem since they are not expensive. I would prefer to keep the periodic evaluation logic and the early stopping logic as independent as possible.

This is a problem but I don't think we can switch the order. For example, if we switch it we could break metrics that track time since they will ignore plugin's execution

[2021-06-18 13:28] AntonioCarta commented on #650
@Mattdl do you have a script to reproduce your results without Avalanche? I'm profiling the code and it seems to me that the backpropagation and moving mini-batches to the GPU are already taking more time than your 10min estimate.

How do you manage the buffer? is it stored on the GPU or do you load the images from the disk each time?

[2021-06-18 13:51] lrzpellegrini opened #673 "Lazy data incremental and validation stream helpers"
Following the integration of #671, helpers like `data_incremental_benchmark` and `benchmark_with_validation_stream` could benefit from a "lazy" flag. Those helpers currently load all experiences at once, thus making the lazy definition of the original streams unuseful.

[2021-06-18 13:56] AntonioCarta opened #674 "Add iteration counter to BaseStrategy"
See #670 for a possible usecase.

[2021-06-18 13:57] #664 closed

[2021-06-19 07:25] Mattdl commented on #650
Here you can find the original codebase: https://github.com/Mattdl/ContinualPrototypeEvolution
Buffer samples are kept in GPU to speed up the process.

[2021-06-20 14:12] Mathieu4141 opened #676 "Add IL2M strategy"
Hi!

I'd like to implement IL2M in avalanche, along with the metric that was proposed to show bias toward new classes.
reference paper: https://openaccess.thecvf.com/content_ICCV_2019/papers/Belouadah_IL2M_Class_Incremental_Learning_With_Dual_Memory_ICCV_2019_paper.pdf
code: https://github.com/EdenBelouadah/class-incremental-learning/tree/master/il2m

I don't know if there is already a plan to por

[2021-06-21 07:37] vlomonaco commented on #676
@EdenBelouadah for sure wanted to port it, but I think she is focusing on #527 right now :-)
@EdenBelouadah, @AntonioCarta is it ok if @Mathieu4141 starts working on IL2M? @EdenBelouadah maybe you can review the PR!

[2021-06-21 07:47] EdenBelouadah commented on #676
Hello,
Yesterday, I started working again on SIW (#527), and the plan was to pass after that to IL2M.
If you want, you can start working on IL2M, and I will join you later. Maybe by the end of this week of the beginning of the other.

[2021-06-22 11:55] AntonioCarta commented on #676
Fine by me.

If you have any doubts feel free to ping me on the ContinualAI slack.

[2021-06-23 08:16] AntonioCarta commented on #650
I see that you use `n_iter = 1`. However, the current avalanche implementation iterates the entire buffer at each step (200 iters with a 2000 buffer).
Can you confirm this problem? It would explain the large difference.

[2021-06-23 09:01] Mattdl commented on #650
@AntonioCarta that's a good catch! Yes it should only do a single sampling operation on the buffer per experience (batch).
This worked for the class incremental setting, but here we need a way to only have a single sampling operation on the memory.
Is there a straightforward way to do this?

We could take a subset of the memory which we pass to the Avalanche adapted dataset, but then we do the sam

[2021-06-23 09:22] AntonioCarta commented on #650
I slightly prefer to leave the dataset unchanged if possible.

I see two possibilities:
- add a parameter to the DataLoader which determines whether the replay and original data should be iterated as many times as the longest/shortest among them. Right now the number of iterations equals the longest between the two.
- fix a maximum number of iterations and use `stop_training` for early stopping.

[2021-06-23 14:44] lrzpellegrini opened #680 "Support for endless streams"
Avalanche is finally able to deal with lazily created streams (see #671). However, there are certain manipulations of lazy streams that are not compatible with some internal assumptions, mainly the assumption on the fixed size of streams.

The good part is that, while the ability to retrieve the length of a stream (for instance, via `len(benchmark_instance.train_stream)`) is a good user-facing fea

[2021-06-23 15:53] Mattdl commented on #650
I agree that the dataset should remain unchanged. However, implementing a 'stop_training' would require me to to overwrite the `train_epoch` of the `BaseStrategy`. Right now I can work just with  the plugin, so it would be nice if I could keep it that way.

Another way would be to pass a `max_number of iterations` to the `ReplayDataloader`?

[2021-06-23 20:34] Mathieu4141 commented on #676
Great 😄

I started to write a metric for the Mean Scores comparison you made in the paper #683
The `MeanScores` metric can be reused for the plugin :)

[2021-06-24 10:17] AntonioCarta commented on #650
You can use `stop_training`, it's a `BaseStrategy` method already implemented. We use it for early stopping.

Yes, we can also have a completely different dataloader for data-incremental settings if you think it's necessary.

[2021-06-25 04:51] cuongpxu opened #684 "Testing on test sets up to current tasks"
Hi,
I'm curious about the testing phase of the base strategy. Is this necessary to test all tasks test set every time when we finish training a task? Why we do not test on all tasks up to the current training task only? Testing all task test sets seem to violate the fundamental of continual learning where you have access to the test set of the future tasks and it also slows down the learning proce

[2021-06-25 06:29] AndreaCossu commented on #684
Hi @cuongpxu , in Avalanche you are not forced to test on all tasks.

You can call `strategy.eval(benchmark.test_stream[index])`, where `index` selects the test experiences you want to evaluate on. It works like usual list indexing in Python. If you don't use `index`, you will select all the test experiences but that is not mandatory.
Testing on future experiences it is useful sometimes to evaluat

[2021-06-25 06:49] #684 closed

[2021-06-28 14:07] TimmHess opened #686 "Inclusion of EndlessCL simulator pre-rendered datasets"
Inclusion of Endless Continual Learning Simulator's derived datasets as available [here](https://zenodo.org/record/4899267) and according to the discussion below:

### Discussed in https://github.com/ContinualAI/avalanche/discussions/658

<div type='discussions-op-text'>

<sup>Originally posted by **MrtnMndt** June 10, 2021</sup>
Hi all,

**we are currently looking into bringing some rendered data

[2021-07-01 06:32] gab709 opened #689 "GDumb and data augmentation"
Hi! I'm testing some strategies to reach the accuracy values stated in the original papers.
In particular, Gdumb with mem_size=500 reaches 90% of accuracy in the split-mnist benchmark.
For the parameters I use the original implementation of GDumb:  https://github.com/drimpossible/GDumb

🐛 **Describe the bug**
There is a drop (~30%) in accuracy using data augmentation. This problem doesn't  appear

[2021-07-01 07:40] AntonioCarta commented on #689
Thanks for the report.
A couple of questions:
- are you using the same hyperparameters? epochs, batch size, learning rate...
- why do you think data augmentation are so important for the failure?

[2021-07-01 07:57] gab709 commented on #689
Yes, I'm using the same hyperparameters.
Without data augmentation Gdumb achieves ~87% in accuracy, adding data augmentation the accuracy is ~60%, with same model and same parameters.

[2021-07-01 08:10] AndreaCossu commented on #689
Does the original paper use data augmentation? This is a wild guess, but since GDumb only retrains on the replay memory, depending on the kind of data augmentation function, the patterns in the replay memory may not be well representative of the original dataset (like if you shift too much an image, you could miss part of the object).

[2021-07-01 08:18] gab709 commented on #689
Yes, I use the same data augmentation.

[2021-07-01 08:53] AntonioCarta commented on #689
This is definitely a bug. Maybe GDumb is ignoring the data augmentation when saving the data.

[2021-07-01 08:55] AntonioCarta commented on #689
@gab709 if you want to look into this, I can support you. Just ping me on slack if you need help.

Otherwise, I will need the complete script to reproduce the error.

[2021-07-01 12:21] VerwimpEli opened #690 "MB text logging"
Hi, I think it should be possible to log metrics for *every* MB to a file with the TextLogger and not just the last MB. In the end, it's the users decision to make a really lengthy log file, but there are use cases for this behavior. And if the option is turned of by default, it doesn't bother anyone who doesn't want this behavior.

Say I want to track how long the training on each minibatch takes

[2021-07-01 12:29] AndreaCossu commented on #690
Hi @VerwimpEli , feel free to open a PR about this :smile:

[2021-07-01 14:14] gab709 opened #692 "LRSchedulerPlugin: incompatibility with ReduceLROnPlateau"
Hi!
I tried to use torch.optim.ReduceLROnPlateau scheduler but an error occurs "_TypeError: step() missing 1 required positional argument: 'metrics'_".
It happens because LRSchedulerPlugin calls the function step() of the scheduler without any argument. It's possible to adapt LRSchedulerPlugin to include ReduceLROnPlateau?
Thank you!

[2021-07-01 15:17] AndreaCossu commented on #692
Hi @gab709 , you can subclass your strategy and specify custom operations on the optimizer.
Take a look at the [`training_epoch`](https://github.com/ContinualAI/avalanche/blob/ca44d420bfd76d66a76ee33414214cbaed7ea31e/avalanche/training/strategies/base_strategy.py#L433) callback within `BaseStrategy`.

[2021-07-02 16:22] #503 closed

[2021-07-16 10:06] Rhuax opened #697 "EWC example script still causing catastrophic forgetting"
🐛 **Describe the bug**
I'm running the EWC example script from the example folder but my model keeps forgetting (as in the Naive example). In particular the accuracy on the first experience drops to 0 after training the second experience. I attach the log. The same pattern continues to occur for every learning experience as the training continues.

🐜 **To Reproduce**
Run the EWC example script.

🐝

[2021-07-16 10:20] AndreaCossu commented on #697
Hi @Rhuax on which benchmark are you training the model?

[2021-07-16 10:29] Rhuax commented on #697
Hi, I'm using the classic MNIST with nc_scenario like:
`    mnist_train = MNIST(root=expanduser("~") + "/.avalanche/data/mnist/",
                        train=True, download=True, transform=ToTensor())
    mnist_test = MNIST(root=expanduser("~") + "/.avalanche/data/mnist/",
                       train=False, download=True, transform=ToTensor())
    scenario = nc_benchmark(
        mnist_train, m

[2021-07-16 10:31] AndreaCossu commented on #697
Ok, so this is the expected behavior. EWC does not work on class incremental scenarios like Split MNIST, unless you use multi-head models and task label information at test time.

[2021-07-16 10:57] ggraffieti opened #699 "Dataset download speed is inconsistent during tests"
During unit test sometimes the dataset are downloaded in few seconds, while other times it takes few minutes to download them (extending the time taken to unit test).
I noticed that the downloads using the amazon S3 mirror are usually much faster than the ones that use the original sites.

Check if the mirror order can be changed, using the amazon mirror as first choice.

[2021-07-17 07:15] gab709 commented on #692
Thank you!

[2021-07-17 07:15] #692 closed

[2021-07-21 09:52] #611 closed

[2021-07-21 15:08] #383 closed

[2021-07-22 07:28] #697 closed

[2021-07-22 09:33] AntonioCarta commented on #674
I'm trying to close this issue.

I think right now it doesn't make sense to stop training before the end of an epoch because validation metrics are only updated at the end of an epoch. So even if we check the validation metrics at each iteration, they will be updated only at the end of an epoch.

[2021-07-22 10:23] #667 closed

[2021-07-22 10:35] AntonioCarta commented on #650
@Mattdl any update on this? Did it solve the performance issue?

[2021-07-22 11:33] Mattdl commented on #650
Hi @AntonioCarta, thanks for the reminder (I'm just back from my holidays)!  I'll follow it up soon (:

[2021-07-23 16:50] AndreaCossu commented on #512
I think this is closed by #672 , right @digantamisra98 ?

[2021-07-23 16:52] digantamisra98 commented on #512
Yes

[2021-07-23 17:26] AndreaCossu opened #703 "Confusion matrix with Joint Training has all zeros for last class"
This bug was brought up [in this discussion](https://github.com/ContinualAI/avalanche/discussions/694).
Instead of reporting confusion matrix values for all 10 classes, the result shows zeros in the last matrix column.

[2021-07-23 18:06] #512 closed

[2021-07-27 12:56] Mattdl commented on #650
@AntonioCarta a question about the ReplayDataLoader: Can I enforce the ratio of sampling from the data vs the memory? e.g. with batch size 20, can I enforce 10 samples to come from the `data` and 10 from the `memory`?

[2021-07-27 15:23] AntonioCarta commented on #650
For the moment the ratio is equal. If you set `batch_size=10` you get a batch of 20 samples, 10 from the current experience and 10 from the memory. We can add a parameter to adjust the ratio if needed.

We can merge this change if you want.

Also, maybe the way the dataloader's arguments are used is counter-intuitive right now, because if you set `batch_size=10` you get 20 samples (10 from each da

[2021-07-27 16:09] Mattdl commented on #650
Oh ok I see, thanks!

I'm not sure about that, because for me the `batch_size` gives the total batch size?

[2021-07-27 16:38] AntonioCarta commented on #650
yes, you are right, I was thinking about the other data loaders, e.g. `GroupBalancedDataLoader`.

[2021-07-28 14:24] Mattdl commented on #650
Ok I've been able to produce nearly the results for SplitMNIST, so we can merge (: Thanks for the help @AntonioCarta !

[2021-07-28 15:22] AntonioCarta commented on #650
This is a great news!

[2021-07-28 15:22] #650 closed

[2021-07-28 16:48] ggraffieti opened #708 "Nightly Docker release is scheduled for pull requests"
The release of the nightly Docker image must be triggered only by commits to the main branch, not by pull requests.
Problem -> release action triggered by the completion of unit test -> unit test executed in PR -> docker release triggered

No elegant way to pass information to the release action about the event that triggered the unit test.

Most elegant solution (still not elegant in an absolute

[2021-07-28 16:55] vlomonaco commented on #708
Couldn't we use these "if" clauses for the actions? https://stackoverflow.com/questions/58139406/only-run-job-on-specific-branch-with-github-actions

[2021-07-29 07:58] AntonioCarta commented on #708
Maybe this is the easiest solution? I guess if people want a package they can wait for a day or install it by themselves.

[2021-07-29 08:04] ggraffieti commented on #708
Since the action is triggered by the end of another action (and not from a specific repo event) the docker build is always sheduled to the master branch (i checked).

It's also my preferred solution, probably we could retrieve the last commit data and produce the Docker image only if the last commit on master was pushed < 24h before.

[2021-07-29 14:43] ggraffieti commented on #708
Solved with PR #709.
Now the build is scheduled every night (at midnight) and skipped if the last commit is older than 24h (no changes from the last nightly build).

[2021-07-29 15:03] vlomonaco opened #710 "Add Docker Image in Documentation"
Add Docker Hub avalanche image reference in the Readme and Gitbook.

[2021-07-30 09:26] AntonioCarta opened #711 "Avalanche Subset does not define task_set"
The bug can be reproduced with the following script:

[code]

Do we have any other mechanisms to subsample the data?

[2021-08-02 14:48] #212 closed

[2021-08-02 22:53] tachyonicClock opened #712 "Add "Accuracy for classes seen so far" metric"
It is common to want to make a graph like this:
![image](https://user-images.githubusercontent.com/37557393/127932961-24bc35e5-6f40-472e-a523-77762424782c.png)
However avalanche lacks a built in metric to produce this sort of graph.

[2021-08-02 22:56] tachyonicClock commented on #712
I'm happy to be assigned to this issue and have already started work on an implementation

[2021-08-03 06:37] AndreaCossu commented on #712
Thanks @tachyonicClock , feel free to try it out!

[2021-08-03 09:13] vlomonaco commented on #712
Thanks @tachyonicClock this would be great!

[2021-08-04 15:30] amalapuram commented on #703
Hi @AndreaCossu

Do the fix available for this bug? I have a [regression bug](https://github.com/ContinualAI/avalanche/discussions/705) associated with this

[2021-08-04 16:25] AndreaCossu commented on #703
@amalapuram sorry, not yet but I am working on it!

[2021-08-05 07:54] #712 closed

[2021-08-05 08:19] #703 closed

[2021-08-05 08:20] AndreaCossu commented on #703
@amalapuram can you please check if the last PR #714 solves your issue?

[2021-08-05 08:21] #647 closed

[2021-08-05 08:21] #498 closed

[2021-08-05 08:22] #487 closed

[2021-08-05 10:44] amalapuram commented on #703
@AndreaCossu , thanks for the reminder.

I had one question, to validate my issue against your fix. Do I need to update my current avalanche env ? or go for fresh avalanche env setup ?

[2021-08-05 10:48] AndreaCossu commented on #703
no, you don't have to update your env, just the code.
If you forked/cloned the repo, you can pull changes from git, while if you installed it with pip you can rerun `pip install git+https://github.com/ContinualAI/avalanche.git`

[2021-08-05 10:53] amalapuram commented on #703
Thanks @AndreaCossu

I will trigger the execution, and let you know the status soon

[2021-08-05 15:08] #708 closed

[2021-08-05 21:04] dsoselia opened #715 "Any recommended ways to combine Torchvision pretrained models and MultiTaskModule?"
Seems somewhat hard since MultiTaskModule expects task id argument.

[2021-08-06 08:16] AndreaCossu commented on #715
Hi @dsoselia ! What do you mean with combining? Your model can include a pretrained model inside, so that the forward of your whole model takes task id as argument but you don't forward it to the pretrained submodule. I think it depends on what you have to do here.

[2021-08-06 09:11] #715 closed

[2021-08-08 02:29] zerortj opened #718 "Generic Generators.paths_benchmark error:TypeError: expected Tensor as element 0 in argument 0, but got list"
I made my own benchmark with code below;
Then I took place the scenario with my own generic_scenario return by the code below in **cope.py**.
But I got the error:**TypeError: expected Tensor as element 0 in argument 0, but got list.**

**The data format** in train_split.csv and test_split.csv are image's path in column 1 and label in column 2.

Please tell me what mistake I had made. Thanks.

`def

[2021-08-08 04:15] #718 closed

[2021-08-08 08:20] zerortj opened #719 "GPU memory is dynamically allocated. How to allocated it static at the beginning?"
GPU memory is dynamically allocated. How to allocated it static at the beginning?

[2021-08-09 10:37] AndreaCossu commented on #719
If you know in advance the size of your tensors, you can create them at the beginning and modify them later. However, I rarely see this in practice. Anyway, I guess this is something more related to Pytorch and CUDA rather than Avalanche.

[2021-08-09 10:37] #719 closed

[2021-08-17 01:56] amalapuram commented on #703
Thanks @AndreaCossu
you Fix is working, I resumed my work

[2021-08-18 02:47] RgMoller opened #722 "LwF and ewc issues with multi-head (SplitCIFAR10)"
🐛 **Describe the bug**

LwF and EWC have issues with multi-head with CIFAR10.

lwf - crashes with "AttributeError: 'NoneType' object has no attribute 'detach'"
ewc - performance worse than Naive

🐜 **To Reproduce**

https://gist.github.com/RgMoller/f814494b0ba46e80926e7bface5a02f4

🐝 **Expected behavior**
LwF - model shows decreased forgetting
ewc - model shows decreased forgetting

🐞 **Screenshot

[2021-08-23 17:49] ashok-arjun opened #725 "reset_optimizer removes essential parameters in adaptive optimization algorithms"
🐛 **Describe the bug**
The [`reset_optimizer`](https://github.com/ContinualAI/avalanche/blob/fa9201f1a38dc57621f3a5b02f833aa7cdc8b6ca/avalanche/models/dynamic_optimizers.py#L20) function that is by default called at the beginning of every training experience [at this line](https://github.com/ContinualAI/avalanche/blob/master/avalanche/training/strategies/base_strategy.py#L281) by the `make_optimiz

[2021-08-25 09:00] AntonioCarta commented on #725
Are you sure that this is necessary? Typically, whenever you have a new experience, you also have a domain shift (either new classes or a new domain). Therefore, I don't expect the optimizer's statistics to be relevant anymore and I think resetting them is correct. However, I never did an experimental comparison.

I think the current behavior is reasonable, and of course it can be changed as you e

[2021-08-29 07:49] tachyonicClock opened #728 "Online EWC does not have a penalty as expected"
🐛 **Describe the bug**
Online EWC does not work.  For some reason the regularization penalty is not being correctly calculated.

🐜 **To Reproduce**

[code]

Add the following to line 85 in ewc.py (`ewc.py>EWCPlugin>before_backward`)
[code]

This outputs the following in the training stage of the second experience
[code]

🐝 **Expected behavior**
We expect the penalty to be non-zero. Similar to offl

[2021-08-29 07:49] tachyonicClock commented on #728
I'm happy to fix this if no one else is better suited

[2021-08-29 15:11] AndreaCossu commented on #728
Thanks for reporting the issue. Feel free to open a PR about this and we will review it :smile: Let us know if you need any help!

[2021-08-30 08:21] #728 closed

[2021-08-31 06:32] Piyush-555 commented on #722
EWC is not expected to perform well for datasets like SplitMNIST and SplitCIFAR10.
As for LwF, I'm getting a different error as follows:
[code]
Seems like multi-task support is not there for LwF.
@AntonioCarta is it okay, if I work on this?

[2021-08-31 08:24] AntonioCarta commented on #722
Hi @Piyush-555, I'm currently working on this issue. I already identified the problem with both strategies and I partially fixed them.

Let me know if you want to work on something else. You can write me a private message on the ContinualAI slack and I can help you choose an appropriate issue.

[2021-08-31 08:55] Piyush-555 commented on #722
Sure

[2021-09-01 19:23] AlbinSou commented on #537
Hello Antonio,

I would like to work on this feature. However, I'm not sure of the specifications.

Would you like a function that, from a nn.Module already implementing forward(x, task_id), returns a MultiTaskModule where this forward function either overrides forward or forward_single_task (depending on whether the forward method accepts multiple task_ids or not)

Or should this function also ad

[2021-09-02 07:35] AntonioCarta commented on #537
This is something that was requested during our weekly meetings, if I remember correctly. Right now, if you want to change a single head model into a multihead, you have to subclass and change the forward method to add the `task_labels` argument:

[code]

What we would really like to have is:
[code]
where you don't have to create a new specialized subclass but you only need to give the name of the

[2021-09-02 12:31] AlbinSou commented on #537
I think this can be done using a decorator, for instance with something like this:

[code]

However, I guess we must additionally leave access to classical model attributes, this can be done throug overriding the __getattr__ and __setattr__ fields, which is possible but needs to be done with caution (since pytorch nn.Module already overrides them). I can try to do that if you think that's a nice w

[2021-09-02 14:05] AntonioCarta commented on #537
This is a good solution, it should work with any pytorch model (e.g. torchvision's models).

yes, if you can do it without breaking `nn.Module`.

[2021-09-05 01:05] ContinualAI-bot opened #733 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2021-09-05 02:56] tachyonicClock opened #734 "SynapticIntelligence identical to Naive"
🐛 **Describe the bug**
I was confused to find SynapticIntelligence performing comparably to naive. To investigate it further I used a manual seed to see if the loss was being correctly used by the strategy. I found that the two methods perform identically when they are given the same seed.

🐜 **To Reproduce**
Run naive with a manual seed
`torch.manual_seed(0)`
Run SynapticIntelligence with a manua

[2021-09-05 03:06] tachyonicClock commented on #734
Does this look right?
@AndreaCossu
@AntonioCarta

[2021-09-06 07:34] AntonioCarta commented on #734
Your fix is correct.

@AndreaCossu can you check this problem? I think you did the original implementation.

[2021-09-06 10:32] iacobo opened #736 "EWC fails with RNN's using CUDA"
🐛 **Describe the bug**

When training a model which contains an RNN/LSTM/GRU layer using the EWC strategy using CUDA, an error is raised since [RNN-like layers in PyTorch do not support](https://discuss.pytorch.org/t/when-should-we-set-torch-backends-cudnn-enabled-to-false-especially-for-lstm/106571/6) `backward` calls on CUDA devices when in `eval` mode.

#### Trace:

[code]

#### Source of error

[2021-09-06 12:30] AntonioCarta commented on #736
It is probably better to keep the eval mode for all the modules and add an exception for RNNs. We don't want the train mode for modules such as dropout or batch normalization.

[2021-09-07 12:17] AndreaCossu commented on #734
I can check that, but the original implementation is from @lrzpellegrini . He implemented the SI version they uses for AR1*, which I don't think is exactly the same of the SI paper (the strategy raises a warning for this reason).

[2021-09-07 16:57] AndreaCossu opened #737 "Loggers should support metrics returning dict"

[2021-09-07 22:18] iacobo commented on #736
@AntonioCarta in that case should the line in `plugins.EWCPlugin`'s `compute_importances` be changed to also say `model.eval()` (like in `plugins.ewc.EWCPlugin`)?

[2021-09-08 07:57] AntonioCarta commented on #736
I agree.

[2021-09-08 08:44] AndreaCossu commented on #734
@tachyonicClock on which benchmark did you run your experiment?

[2021-09-08 09:33] AndreaCossu commented on #736
@iacobo thanks for reporting! Are you willing to submit a PR with the solution? In my opinion, we could raise a warning in case of RNN + CUDA, explaining the problem to the user, and then use the  train mode instead of failing.

[2021-09-08 10:22] iacobo commented on #736
@AndreaCossu  Yep sure thing.

[2021-09-08 21:38] tachyonicClock commented on #734
This is split MNIST. The metric is accuracy on seen tasks.

[2021-09-09 07:25] AndreaCossu commented on #734
ok, so I think the performance is fine. To reproduce the experiments of the paper, SI needs to be applied on a multi-headed model.

[2021-09-09 07:27] #734 closed

[2021-09-10 13:52] FedericoWong opened #740 "TypeError when running all examples except test_install.py"
Hi,
I'm running in a clean anaconda env with ubuntu 20.04,python3.9,cuda11.1&cudnn8.0
Upon running the examples in the folder 'avalanche', always encounter with the TypeError below:
running ewc_mnist.py：
`/home/jofferywang/anaconda3/envs/avalanche-env/bin/python /home/jofferywang/avalanche/examples/ewc_mnist.py
Traceback (most recent call last):
  File "/home/jofferywang/avalanche/examples/ewc_mni

[2021-09-10 13:55] FedericoWong commented on #740
[condalist_avalanche.txt](https://github.com/ContinualAI/avalanche/files/7144251/condalist_avalanche.txt)

[2021-09-10 13:57] FedericoWong commented on #740
[condalist_avalanche.txt](https://github.com/ContinualAI/avalanche/files/7144260/condalist_avalanche.txt)
Sorry for the network delay

[2021-09-10 15:47] vlomonaco commented on #740
Thanks @FedericoWong for reporting the issue, we will try to replicate it and report back to you!

[2021-09-11 04:19] FedericoWong commented on #740
Well,I installed a new env with python3.8,cuda11.1&cudnn8.0 last night, and it works well.
Maybe the 'Protocols not be instantiated' problem(in python/typing package) is closely related to the python version.
![2021-09-11 11-58-57screen_shot1](https://user-images.githubusercontent.com/26487534/132935653-239f2e8b-7997-40b2-954a-181dd0670ec2.png)

Thanks @vlomonaco  for your help. It IS Just a littl

[2021-09-12 01:07] ContinualAI-bot opened #741 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2021-09-14 13:11] AntonioCarta opened #742 "allow to change default download location for datasets"
Right now the default dataset location is set to `.avalanche/data`. It would be nice to make it customizable, either by a configuration file in the folder `.avalanche` or using an environment variable.

[2021-09-15 09:41] AlbinSou opened #743 "Add the possibility to pretrain on multiple tasks"
For the moment, the nc_benchmark generator function allows for a nc_first_task option, which is good for pre-training in the class-incremental learning scenario. However, the same kind of option is not available if one wants to pretrain in the task-incremental scenario. It would be nice to have an option that could be used together with task_labels=True and allows for pretraining on multiple tasks

[2021-09-15 10:11] AlbinSou opened #744 "EWC online mode not working in some cases"
🐛 **Describe the bug**
EWC plugin is not working in online mode in some scenarios.

The online mode seems to work fine in the example ewc_mnist.py. However, in several projects of mine using other datasets and other kind of scenarios ( both nc_benchmark and ni_benchmark ), it does not work as expected.

🐜 **To Reproduce**

Inside the avalanche/examples/multihead.py, change the line 62 to:
[code]
t

[2021-09-16 09:31] AlbinSou opened #746 "LwF plugin fails in combination with IncrementalClassifier"
🐛 **Describe the bug**
LwFPlugin does not work when combined with IncrementalClassifier.

The error raised is the following (raised when starting to train on second experience):
in lwf.py - _distillation_loss -> line 45
The size of tensor a (6) must match the size of tensor b (10) at non-singleton dimension 1

I believe this is due to the fact that the size of the previous model output and the cur

[2021-09-16 14:49] AntonioCarta commented on #744
It seems that you did not set `decay_factor`, which is needed tu run in the `online` mode. I'm adding a warning to catch these mistake at initialization time.

[2021-09-16 14:49] #744 closed

[2021-09-16 14:51] AntonioCarta commented on #689
@gab709 is this still an issue? Have you found the problem?

[2021-09-16 15:02] AntonioCarta commented on #743
I agree about the `nc_first_task` option, we should also have it for multi-task scenarios.

Your snippets seems wrong. Instead of modifying the experiences in place, it's easier to create a new benchmark by first concatenating/splitting the datasets however you like, and the using one of the generic builders, like `dataset_benchmark`.

[2021-09-16 15:25] #722 closed

[2021-09-16 15:28] AntonioCarta opened #748 "FIX tests to work with IncrementalClassifier and MultiHead"

[2021-09-16 15:41] #746 closed

[2021-09-16 18:06] gab709 commented on #689
I think your suggestion is right but I didn't find the problem. I just had a quick look.

[2021-09-16 18:18] AlbinSou commented on #743
Yes, I agree that this is an ugly fix, I also tried like you did but the batch size is still multiplied by the number of tasks in the first experience. I think this comes from TaskBalancedDataLoader, but I don't know if it's intended that the batch size is increased that way.

[2021-09-17 07:41] AntonioCarta commented on #743
Ok, now I get it. Yes, it's normal, some of the dataloaders, like the `TaskBalancedDataLoader` add `batch_size` samples for each group (task/experience ...). Maybe we should rename the parameter to avoid confusion.

[2021-09-19 01:04] ContinualAI-bot opened #749 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2021-09-20 09:37] #737 closed

[2021-09-22 07:57] AntonioCarta opened #756 "FIX gdumb model reset"
We should fix this problem:

I tested and performance is ok, you can merge.

See #136

[2021-09-22 07:58] AntonioCarta commented on #689
@gab709 maybe this is related to #136 ? Are you resetting the model? Can you try it?

[2021-09-22 11:02] gab709 commented on #689
Yes, I tried to reset the model (each experience), but the results did not improve. If this is the problem gdumb without augmentation would have had some problems, instead it is ok.

[2021-09-23 09:12] AntonioCarta opened #758 "CORe50 NC classes_in_this_experience infinite loop"
[code]

output:
[code]

[2021-09-23 09:36] vlomonaco commented on #758
Is this happening only with CORe50 or also with other datasets? @lrzpellegrini can you take a look at this? :)

[2021-09-23 09:44] AntonioCarta commented on #758
I didn't check with other datasets because I needed this only for CORe50.

[2021-09-26 01:07] ContinualAI-bot opened #762 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2021-09-27 09:28] AndreaCossu opened #763 "Import avalanche as avl"
Currently, avalanche does not support import shortcuts like
[code]
results in `module avalanche as no attribute training`.

This forces to explicitly import all the needed modules, which I think is often annoying.

Reformatting the `__init__` files should suffice to implement the shortcut.

[2021-09-27 13:00] AntonioCarta commented on #689
@gab709 I did some experiments. I don't think there is any bug here. The problem is that you are using an MLP. If you use a CNN everything works as expected.

Here are the results using a LeNet-like CNN:
[code]

[2021-09-27 13:00] #689 closed

[2021-09-27 13:44] gab709 commented on #689
Now it makes sense. Thank you!

[2021-09-27 16:45] #742 closed

[2021-09-27 16:45] #756 closed

[2021-09-27 16:45] #763 closed

[2021-09-30 10:13] Ektagavas opened #765 "GDumb strategy performance issues with Rotated/Permuted MNIST benchmarks"
When running GDumb for MNIST variants where the number of classes remains the same (from 0 to 9) in each experience,  accuracy on all old tasks drops significantly with the newer task. I wanted to confirm this is a bug in the Gdumb strategy in avalanche or I am missing something on my part.

Below is the script to reproduce the results for Rotated MNIST:
[code]

Below are the results:
After traini

[2021-09-30 10:40] Ektagavas commented on #765
What I understood from GDumb paper is that, during inference, it masks out the subset of stored examples depending on task and performs classification. I guess this step might be missing in avalanche as the storage policy just samples, stores and concats examples to set based on class labels (which is 0 to 9 for each experience). Please correct me if I am wrong.

[2021-09-30 11:47] AntonioCarta commented on #765
The masking is basically the same thing as a multihead (in evaluation mode). I believe the storage policy may be wrong when the same class occurs in multiple experiences, making the buffers unbalanced. I will check this and let you know.

[2021-09-30 11:48] Ektagavas commented on #765
Yes, correct. Sure, thanks.

[2021-10-03 01:12] ContinualAI-bot opened #766 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2021-10-04 10:18] ashok-arjun opened #767 "Question about replay"
Hi,

I have a few questions about the replay algorithm implemented in avalanche, specifically the one that is used by calling `ReplayPlugin`.

1. If the memory size is 2000, why is there a need for 2000 samples in the very first task to fill the memory? Can the samples that are present be used, and can't the memory expand to a maximum of 2000 as tasks progress? I'm using a long-tailed dataset and

[2021-10-04 10:52] ashok-arjun opened #768 "Task confusion matrix"
Hi,

Similar to the class confusion matrix available, is there a **task confusion matrix also available**? This would be useful to actually assess BWT and other metrics, since every task's accuracy after every other task will be in the same table.

Thanks!

[2021-10-05 09:11] #758 closed

[2021-10-05 09:19] AndreaCossu commented on #768
Hi @ashok-arjun , we do not currently have an implementation for the task confusion matrix, even if it is definitely possible to implement it. We will try our best to address the issue, feel free to contribute if you can :smile:

[2021-10-05 12:48] vlomonaco commented on #768
@AndreaCossu let me know if we want to consider this as an actionable item or you prefer to have it in the "feature-request" list on discussions.

[2021-10-05 16:25] AntonioCarta commented on #767
This is a parameter that you can control when you initialize the replay buffer (`adaptive_size=True`). In general, using the max size at each step and subsampling to make space works slightly better (see Table 1 [here](https://arxiv.org/abs/2010.15277)).

[2021-10-05 16:25] #767 closed

[2021-10-07 10:48] AndreaCossu opened #771 "concat_datasets_sequentially discards classes"
When using `concat_datasets_sequentially` the resulting datasets have less classes than the union of the classes in the input dataset

[code]

[2021-10-07 12:19] AndreaCossu commented on #213
Sure thing :smile:

[2021-10-10 01:23] ContinualAI-bot opened #773 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2021-10-15 18:24] gab709 opened #774 "Core50 benchmark with ICARL strategy"
ICarl strategy returns an error  with Core50 benchmark:
`scenario = CORe50(scenario="nc", run=9)`

The error is:
`AttributeError: 'GenericCLScenario' object has no attribute 'n_classes_per_exp'`

Other nc benchmarks belong to "NCScenario"  class and this issue does not appear.

[2021-10-17 01:06] ContinualAI-bot opened #775 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2021-10-18 09:35] Mattdl opened #776 "Top5 Accuracy"
Feature request: Especially for ImageNet benchmark and others with many classes, a top5 (or generally top-k) performance would be very informative compared to the top-1 at the moment.

[2021-10-18 13:32] #776 closed

[2021-10-18 14:03] Mattdl opened #777 "Checkpointing Replay"
Hi I'm trying to do some checkpointing during Replay experiments where I store one checkpoint per experience.
Using `copy.deepcopy` on the `ReplayPlugin` or simply on the `ext_mem` of the `ReplayPlugin` doesn't work and gives the following error. The `ext_mem` holds avalanche datasets (and subsets) which is where I think the problem resides for a deep copy.
Is there any recommended way to easily s

[2021-10-19 08:49] #777 closed, assigned to nobody

[2021-10-20 16:54] AndreaCossu opened #780 "Make some packages optional"
We can wrap some `import` in a `try ... catch` statement so the user is not necessarily forced to install all the libraries, especially for the ones needed only by a specific strategy/logger.

e.g. quadprog, wandb, ...

[2021-10-21 07:52] vlomonaco opened #782 "Check "how-tos" are correctly deployed in the Doc"
We added a new sub-dir in the notebooks with the "how-tos". We should check this is automatically converted and deployed in the documentation as the fzth case.

[2021-10-21 12:25] AntonioCarta opened #783 "sync between github notebooks and gitbook"
There is something weird going on. Every time the ContinualAI-bot makes a commit to this repo, it also changes files that have already been updated ([example](https://github.com/ContinualAI/avalanche/commit/3b4d8b3bd8dc7abcd8676632ded3343ba6c89d21)).

maybe the github actions are overwriting the changes?

[2021-10-21 17:45] thipokKub opened #784 "Cannot use checkpoint.WeightCheckpoint in evaluation metrics"
🐛 **The Bug**
Was trying to save model weights using checkpoint evaluation metric, but failed with the following error

[code]

🐜 **To Reproduce**
Follow the tutorial [evaluation page](https://avalanche.continualai.org/from-zero-to-hero-tutorial/05_evaluation)
[code]
Then train the model normally, the weight failed to be saved

🐝 **Expected behavior**
Guessing that the model weight would be saved

[2021-10-21 21:05] thipokKub opened #785 "Mixing dataset cause cuda device-side assert triggered"
🐛 **Describe the bug**
I am trying out model performance on mixed dataset which I took from pre-existing scenarios. The creation of the benchmark is fine, but it caused `RuntimeError: CUDA error: device-side assert triggered` by running `cl_strategy.eval(scenario.test_stream)`

🐜 **To Reproduce**
Steps / minimal snipped of code to reproduce the issue.
[code]
Then

[code]
 give the following error

[2021-10-22 04:03] #785 closed, assigned to nobody

[2021-10-24 01:07] ContinualAI-bot opened #786 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2021-10-29 10:30] hamedhemati opened #792 "JointTraining strategy not working for multi-head models"
There is an issue with the JointTraining strategy when the model uses dynamic modules for multi-heads. I noticed that the issue is caused during the model adaptation phase. Since all experience datasets are concatenated into a single dataset, and `self.experience` is set as the first experience in the list of all experiences, the base strategy only creates one head (for task 0). Therefore, one sol

[2021-10-29 14:58] AndreaCossu opened #793 "Implement task descriptor Module"
It would be nice to have a plugin that allows to concatenate to each input pattern a task descriptor.
The task descriptor may be a simple one-hot task vector or something more refined, as in the A-GEM paper (processed by a neural network).

The plugin should be structured in such a way to make it easy to define a protocol to build a new task descriptor.

[2021-10-31 01:07] ContinualAI-bot opened #796 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2021-11-02 09:51] #736 closed

[2021-11-02 09:52] #792 closed

[2021-11-02 10:00] AntonioCarta commented on #784
You should see it on Tensorboard, but we should also save it in memory. @AndreaCossu can we fix a limited number of types for metrics so that we can check that loggers are able to save everything? or warn the user otherwise.

[2021-11-02 10:01] AntonioCarta commented on #796
@ggraffieti do you know what's going on here?

[2021-11-02 10:03] AntonioCarta commented on #725
@ashok-arjun are you still working on this? We have found another use case. In online learning you have a very small number of iterations per experience. Therefore, resetting the optimizer is particularly harmful. See #789

[2021-11-02 10:50] AndreaCossu commented on #784
I agree, this is something long overdue.

[2021-11-02 19:41] hamedhemati opened #797 "Config type in WandBLogger"
This is more like a suggestion than a bug. The `config` parameter to the WandBLogger is supposed to be of type `args.namespace`. Therefore it converts it to a dictionary inside its `arge_parse` function using `vars(.)`. This might be restrictive in some cases if someone wants to pass configs directly as a dictionary (for example when hyperparameters are loaded from a YAML file). Wouldn't it be bet

[2021-11-03 09:47] AndreaCossu commented on #797
I agree, we can easily add support for plain dictionary. @digantamisra98 are you still working on the logger right? Can you take care of this?

[2021-11-03 11:13] hamedhemati commented on #797
I've made a simple fix to it by removing the conversion inside WandBLogger. It works with plain dictionaries now. I also made a PR just in case.

[2021-11-03 14:12] #797 closed

[2021-11-03 18:18] thipokKub opened #800 "Is it possible to have incremental task labels from 'dataset_benchmark'?"
I created a composite dataset using multiple `train_stream` and `test_stream`. However the task results did not change (it got stuck at task `0`). This cause the problem down the line. From the official docs there are mentions of `task_labels` which presence in `ni_benchmark` and `nc_benchmark` which return instance of `NCScenario` and `NIScenario` respectively. But both of them seems to mess with

[2021-11-03 20:03] vlomonaco commented on #800
Hi @thipokKub! Thanks for taking the time to report your issue :)
This seems more of a usability question rather then a bug, so I'm moving this in the [discussions](https://github.com/ContinualAI/avalanche/discussions) section.

As for your question, "`avalanche_dataset`" is meant to be used with custom Datasets definitions. In the official tutorial this example is reported:

[code]

As you can se

[2021-11-03 20:03] #800 closed

[2021-11-04 14:10] ContinualAI-bot opened #802 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2021-11-04 15:46] #616 closed

[2021-11-07 01:07] ContinualAI-bot opened #804 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2021-11-08 00:55] jocelynbaduria opened #805 "Omniglot dataset using MLP model got shape error during training."
🐛 **Describe the bug**
A clear and concise description of what the bug is.

🐜 **To Reproduce**
Steps / minimal snipped of code to reproduce the issue.

🐝 **Expected behavior**
A clear and concise description of what you expected to happen.

🐞 **Screenshots**
If applicable, add screenshots to help explain your problem.

🦋 **Additional context**
Add any other context about the problem here like your

[2021-11-08 00:59] jocelynbaduria commented on #805
![image](https://user-images.githubusercontent.com/62075076/140669156-5d3acb8a-3de4-4285-a75c-9e0a4967918f.png)

Attach is the colab file
[https://colab.research.google.com/drive/1Xdh56wVxrym0nC8rxZscg2sLcBxFQ8e6#scrollTo=_pbWXbiZYGo1](url)

[2021-11-08 07:14] AndreaCossu commented on #805
We need authorization to access the colab. Please, check that the input size of your model matches the Omniglot input size (e.g., if you are using the `SimpleMLP` you may want to change the input size when creating it).

[2021-11-08 14:46] ggraffieti opened #807 "iCaRL does not work with a different number of classes in each experience"
If the experiences of the benchmark do not contain the same number of classes iCaRL do not work, since the offset used to compute the new classes are wrong.

I've already fixed this issue in my code, I need to clean something up and I'll open a PR.

[2021-11-08 14:49] ggraffieti commented on #786
Seems that some modules are not compatible with the new python 3.9.7.
The error seems to be `TypeError: Protocols cannot be instantiated` in `metrics.accuracy`.

We could force the maximum version of python to 3.9.6, or we may try to directly solve this issue. The former is quicker, the latter is (hopefully) definitive.

Related: https://githubmemory.com/repo/gitpython-developers/GitPython/issues/

[2021-11-08 14:50] ggraffieti commented on #786
We can force the bot to compile and test with python 3.9.6 (in order to not have a new issue every week), when we try to solve the issue.

[2021-11-08 15:41] AntonioCarta commented on #786
Can we also add it as a requirement for the environment?

[2021-11-08 15:42] AntonioCarta opened #809 "FIX Protocols when using Python 3.9.7"
Tests are failing on python 3.9.7:
[code]

[2021-11-08 15:43] AntonioCarta commented on #809
#786

[2021-11-08 16:00] jocelynbaduria commented on #805
Hi please tried it again if you can access now. I did try to change the input size to 28 x 28 but not sure about the batch size to have a total input of size 352800.

[2021-11-08 17:30] ggraffieti commented on #786
Yes, we can edit the pip configuration file in order to install avalanche only if python is < 3.9.7

[2021-11-09 10:30] ContinualAI-bot opened #815 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2021-11-09 10:48] ContinualAI-bot opened #816 "Creation of a new envirnment failed for python 3.1"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2021-11-09 11:32] ContinualAI-bot opened #819 "Creation of a new envirnment failed for python 3.6"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2021-11-10 13:35] hamedhemati opened #821 "EWCPlugin not working with customized benchmarks"
EWCPlugin's `compute_importances` function assumes that the data samples in the benchmark are always in the form (x, y, t). This breaks the dataloader when additional labels or attributes are present in each batch of data, for example when data samples are in the format (x, y, a1, a2, ..., t). I had this error when running EWC for a customized benchmark. I've made a small fix to the data loading p

[2021-11-10 23:07] tachyonicClock commented on #547
Additionally I would like to see a flag for using a subsampled test set. I've found Core50 test set to be needlessly large. In fact the Core50 authors end up sub-sampling it in later works.

"we sub-sampled the test set by selecting 1 frame every second (from the original 20 fps)"
Lomonaco, V., Maltoni, D., & Pellegrini, L. (2020). Rehearsal-Free Continual Learning over Small Non-I.I.D. Batches. A

[2021-11-10 23:23] tachyonicClock opened #824 "Move synaptic intelligence out of alpha stage"
Synaptic intelligence `avalanche/training/plugins/synaptic_intelligence.py` currently has the following warning
[code]
As a researcher I would like it to be aligned with the paper and have appropriate tests to verify that.

[2021-11-10 23:26] tachyonicClock commented on #824
I'm happy to be assigned to this if someone else isn't better suited

[2021-11-11 00:58] tachyonicClock opened #825 "Older implementation of learning without forgetting performed better"
🐛 **Describe the bug**
The old implementation of LwF performed much better than the current one. Is this working as intended or has a bug been introduced? As a further note what sort of testing would prevent this sort of regression?

🐜 **To Reproduce**
[code]

**New implementation**
[code]

**Old implementation as of 5356591e2355fbf2aa3d5c0dd5f7bc8613991cff**
[code]

[2021-11-11 08:56] AndreaCossu commented on #824
Hi @tachyonicClock ! In this [repository](https://github.com/ContinualAI/reproducible-continual-learning) we are reproducing results from the continual learning literature with avalanche. We already worked on Synaptic Intelligence and it seems we are able to reproduce their results. We need a bit of further inspection, but then we will be able to remove this warning :smile:

[2021-11-11 08:58] AndreaCossu commented on #825
Hi @tachyonicClock . In the [reproducible continual learning repository](https://github.com/ContinualAI/reproducible-continual-learning) we tested LwF and we also encounter this issue.
Old version uses distillatio on the entire output layer (thus assuming to know how many classes there will be in total). Current version distills only the previously active units. This reduces the performances on Sp

[2021-11-11 12:30] mazo20 opened #826 "VOCSegmentation - Unsupported dataset when creating a scenario"
🐛 **Describe the bug**
When creating a new _nc\_benchmark_ or _ni\_benchmark_ I get a `Unsupported dataset: must have a valid targets field or has to be a Tensor Dataset with at least 2 Tensors` error when using the VOCSegmentation dataset from avalanche.benchmarks.datasets.

🐜 **To Reproduce**
[code]

🐝 **Expected behavior**
The scenario should work with a segmentation dataset just as it works wi

[2021-11-11 13:22] mazo20 commented on #826
I am happy to try to fix it myself but I've never contributed to a library and I'm a bit lost, even with trying to run the library from a directory

[2021-11-11 15:48] mazo20 commented on #826
After further investigation I don't think that the code can support segmentation. The `AvalancheDataset` expects targets to be a list of tensors, which with segmentation means loading the whole dataset to memory.

Is there a way I could make it work with segmentation such that the AvalancheDataset loads the targets lazily?

[2021-11-11 16:20] vlomonaco commented on #826
Hi @mazo20, sorry about the issue you're finding and we are aware of. @lrzpellegrini plans to improve this aspect soon. Maybe you can circumvent the issue for now by creating "_dummy targets_" that can help you operate the splits in experiences. This would mean to adjust a little the VOCSegmentation pytorch dataset before passing it to the benchmarks utils of Avalanche. I don't know if this would

[2021-11-11 16:23] #733 closed

[2021-11-11 16:23] #741 closed

[2021-11-11 16:23] #749 closed

[2021-11-11 16:23] #762 closed

[2021-11-11 16:24] #766 closed

[2021-11-11 16:24] #773 closed

[2021-11-11 16:24] #775 closed

[2021-11-11 16:24] #786 closed

[2021-11-11 16:24] #796 closed

[2021-11-11 16:24] #802 closed

[2021-11-11 16:24] #804 closed

[2021-11-11 17:25] vlomonaco commented on #821
Thanks @hamedhemati!

[2021-11-11 17:26] vlomonaco commented on #809
this is fixed by https://github.com/ContinualAI/avalanche/pull/813, isn't it?

[2021-11-11 17:26] #815 closed

[2021-11-11 17:26] #816 closed

[2021-11-11 17:26] #819 closed

[2021-11-11 17:45] AndreaCossu commented on #809
yes

[2021-11-11 17:45] #809 closed

[2021-11-11 17:48] vlomonaco commented on #782
This is correct, but new how-tos need to be added in the gitbook index.

[2021-11-11 17:48] #782 closed

[2021-11-11 17:49] #686 closed

[2021-11-11 17:58] Bontempogianpaolo1 opened #827 "Avalanche API documentation - 404 error"
🐛 **Describe the bug**
Following the instructions on the website I tried to click "Avalanche API Documentation" inside the section "Learn Avalanche in 5 minutes" but I obtained an 404 error.
Maybe a deprecated reference?
![image](https://user-images.githubusercontent.com/28188499/141346401-2730b50a-ead8-46d8-ab9b-1aa1a67f8fe3.png)

[2021-11-11 18:16] vlomonaco commented on #827
thanks for reporting it. It has been fixed! :)

[2021-11-11 18:16] #827 closed

[2021-11-11 20:18] tachyonicClock commented on #825
I see. Thanks for the clarification, I greatly appreciate it. I'm glad it's working as intended and we have the reproducible continual learning repository as a way to detect these sort of issues.

[2021-11-11 20:18] #825 closed

[2021-11-12 10:15] ggraffieti commented on #774
Update: benchmarks created with the method `create_multi_dataset_generic_benchmark` have the same problem (no attribute `n_classes_per_exp` and `classes_order`.
I did not investigate much, but seems that also benchmark created with `create_generic_benchmark_from_filelists` (as CORe50) have the same problem.

Maybe is related to the generic benchmarks?

[2021-11-12 17:07] ggraffieti opened #828 "Joint training strategy cannot be evaluated after each epoch"
Joint training does not have the parameter `eval_every`, so it is evaluated only after the training, and not after every epoch.

I already fixed this in my local version, I'll open a PR in the next few days alongside the fix to #807

[2021-11-13 12:16] vlomonaco commented on #828
Thanks @ggraffieti!

[2021-11-14 00:01] tachyonicClock commented on #825
@AndreaCossu If you had to speculate, why do you think this reduces performance? Is it simply that it reduces the amount of "dark knowledge" captured by the distillation loss (I'm no expert on knowledge distillation).
Additionally I'm no longer convinced that having multiple classes breaks the setting. Surely the number of neurons on the output layer is largely unimportant. For example we could pi

[2021-11-14 10:28] AntonioCarta commented on #825
If you think about it, the unused units will be penalized during training and will have high negative activations at the end of the experience (i.e. zero probability). As a result, at the next experience the knowledge distillation will push the new units (which are used at this step, but not the previous ones) towards negative activations (again, zero probability). However, since these new units a

[2021-11-15 05:27] ashok-arjun commented on #725
@AntonioCarta  Yes, I tried to implement it but the problem is that in PyTorch - the optimizer does not store the names of the parameters (it stores only the IDs).

So detecting which parameter is already present in the optimizer seems to be a difficult task. I also tried to find alternatives without adding new `param_group`s. I'm trying some other ways too. I will make a PR within a week.

Let me

[2021-11-15 09:32] AntonioCarta commented on #725
Maybe we need to think more about the mechanism to update dynamic models. It is clear that some common operations are quite difficult to implement. Let's put this on hold for the moment.

[2021-11-15 10:58] #807 closed

[2021-11-15 10:58] #828 closed

[2021-11-16 16:58] AntonioCarta commented on #821
FYI when you make a PR you can link issues so that they are closed automatically when the PR is merged (example: #821).

[2021-11-16 16:58] #821 closed

[2021-11-16 23:08] tachyonicClock commented on #825
@AntonioCarta
The point of soft-max is that it illuminates the slight differences in the output layer. Essentially the teacher network is saying "that potato looks like a potato but it also looks just a bit like a dog". The issue seems to be the fact that "dark knowledge" is lost when only a few activation units are used. A problem that is very significant in some of my research, because I am usin

[2021-11-19 15:42] HamedHemati opened #833 "ReplayDataLoader data-memory ratio"
The current implementation of `ReplayPlugin` uses `ReplayDataLoader` before each training experience to augment the main data loader with the samples from its buffer. By inspecting the task labels in a task-incremental setup I noticed that `ReplayDataLoader` always tries to divide each mini-batch equally among all seen tasks. There seems to be no option for a fixed data-buffer ratio. There is just

[2021-11-19 16:10] AntonioCarta commented on #833
You are correct. We should fix it by adding (and using) `ratio_data_mem`. Notice that other dataloaders may already do what you need (e.g. `GroupBalancedDataLoader`).

@hamedhemati do you want to do this? I think it's an easy change.

[2021-11-19 21:43] hamedhemati commented on #833
@AntonioCarta actually the `force_data_batch_size` parameter in `ReplayDataLoader` can also do the same thing (by knowing the train batch size). There was just a minor mistake in mem_batch_size that I've fixed.  I thought maybe it's just simpler to add the `force_data_batch_size` option directly to ReplayPlugin. This way the user can directly set the number of samples dedicated to the data part wh

[2021-11-21 08:43] ashok-arjun commented on #725
Yes - so that would mean that dynamic modules would still be having the problem, which we can look for a solution later.

In the case of static models, leaving the optimizers unchanged would do

[2021-11-25 16:17] DannyFGitHub opened #837 "Forward Transfer Metrics Issue"
🐛 **Describe the bug**
Will a foward transfer metric work with a Naive strategy?

    eval_plugin = EvaluationPlugin(
        accuracy_metrics(minibatch=True, epoch=True, experience=True, stream=True),
        loss_metrics(minibatch=True, epoch=True, experience=True, stream=True),
        timing_metrics(epoch=True),
        forgetting_metrics(experience=True, stream=True),
        bwt_metrics(expe

[2021-11-25 18:04] AntonioCarta commented on #837
You need to change `eval_every`, which is an argument of the constructor needed to call `eval` inside the training loop.

Forward transfer needs these calls. If you set `eval_every = -1` the `eval` is disabled, which means the metric cannot be computed.

[2021-11-25 23:53] DannyFGitHub commented on #837
Thank you Antonio,
would you be able to specify where you would typically provide the `eval_every` parameter, or where its mean to be changed? I haven't explicitly written `eval_every = -1` anywhere in my code, makes me think its being implicitly initialized as a default somewhere.

[2021-11-26 01:08] DannyFGitHub commented on #837
I see, for anyone else with this issue:
`eval_every` is a parameter of strategies and defaults to `-1`.
If not set, this issue will happen when using `foward_transfer_metrics`.

Thank you Antonio, I'm closing this issue.

[2021-11-26 01:08] #837 closed

[2021-11-26 12:46] AlbinSou opened #838 "Initial evaluation fails because of missing model adaptation"
🐛 **Describe the bug**
The initial evaluation phase, (when _periodic_eval is called with do_initial=True) fails due to missing model adaptation

[code]

More details:
- The model is an instance of MultiTaskModule (requires task label during forward pass)
- The classifier is an instance of MultiHeadClassifier

🐜 **To Reproduce**

Here is the fully working example, just change the datadir variable t

[2021-11-29 10:31] trenta3 opened #839 "Feature request: Add an option to preload the dataset into GPU"
It would be great to add an option to preload a dataset directly to GPU before starting to train.
I was training small FCNs and CNNs on small datasets like mnist and cifar10 and I had a 100% CPU load because it was busy in continuously transfering minibatches to the GPU.

I've coded a small code snippet that monkey patches torch.data.utils.DataLoader to move the dataset to GPU which gets executed

[2021-11-29 12:13] vlomonaco commented on #839
Nice hack @trenta3! Strange Pytorch does not support this already. Maybe we can add your method to the `data_loader` utils.

[2021-11-29 14:04] AntonioCarta commented on #839
Thanks @trenta3!

The problem you are talking about happens only when you have three conditions: tensor dataset, small data (fits entirely in gpu memory), no CPU-only augmentations. However, I believe that if you set the `DataLoader` parameters appropriately (`num_workers`, `pin_memory`), you should almost on par with your solution. Have you tried increasing `num_workers`? A 20x slowdown seems muc

[2021-11-29 15:02] DannyFGitHub opened #841 "AGEM: Dataloader Exception RuntimeError: DataLoader worker (pid(s) 17081, 17084, 17087, 17090) exited unexpectedly"
🐛 **Describe the bug**
When training the dataloader on experience 2 out of 3 the DataLoader triggers an exception, I'm unsure whats causing it.
It only happens so far with the AGEM strategy.

🐜 **To Reproduce**
Steps / minimal snipped of code to reproduce the issue.
- Using NI_Benchmark from ImageFolder
- AGEM strategy on a MobileNet3 model

🐝 **Expected behavior**
Expected training to complete an

[2021-11-29 16:19] AntonioCarta commented on #841
This may be an out-of-memory error. We have to look if we are keeping in memory something that we can move to the CPU. Otherwise, I think the only thing you can do is to reduce the batch size.

[2021-11-29 19:35] trenta3 commented on #839
@AntonioCarta Of course I would keep it optional, since it has a very specific and tiny use-case. I've tried setting other parameters of num_workers but it didn't help. I must mention that I was using about 15 parallel processes, and each of them was transferring data to GPU, so it is possibly something that doesn't happen in standard use-cases.

I will send a PR in the next few days.

[2021-12-03 18:59] ashok-arjun commented on #774
@ggraffieti I think it's related to how the structure of the generic benchmarks is.

I'd like to take up this issue. You can assign it to me.

How might I approach it? @AntonioCarta @ggraffieti

[2021-12-03 19:02] ashok-arjun commented on #771
@AndreaCossu This would just correspond to remapping classes based on the passed list to `concat_datasets_sequentially`, right?

[2021-12-04 10:01] AndreaCossu commented on #771
yes, exactly :smile: would you like to take this?

[2021-12-04 19:06] ashok-arjun commented on #771
Sure, you can assign this to me. I'll get it done soon 👍🏻

[2021-12-09 10:13] AntonioCarta opened #846 "possible bug in Top1_Acc_MB"
I noticed that in my experiments Top1_Acc_MB is consistently lower than Top1_Acc_Exp. I'm not sure but it's worth investigating because it may be a bug.

Example:
![immagine](https://user-images.githubusercontent.com/8118624/145377105-71d5c53f-fc89-44f5-b279-66c54b20fe3a.png)

[2021-12-11 10:45] pzSuen opened #849 "How to stop GPU occupancy after the model end training?"
### Discussed in https://github.com/ContinualAI/avalanche/discussions/848

<div type='discussions-op-text'>

<sup>Originally posted by **pzSuen** December 10, 2021</sup>
I had run the code in "Putting All Together," but I found that the GPU is still occupying when the training is over.
How can I stop it?</div>

[2021-12-13 12:06] lxqpku opened #850 "How to support torch.nn.DataParallel()"
🐛 **Describe the bug**
How to set multiple GPUs to the device and  train the model on multiple GPUs

🐜 **To Reproduce**
A [minimal working example](https://en.wikipedia.org/wiki/Minimal_working_example) to reproduce the issue. The code should be executable without modifications.

🐝 **Expected behavior**
Support multiple GPU training

🐞 **Screenshots**
If applicable, add screenshots to help explain

[2021-12-14 15:13] AntonioCarta opened #851 "speed up tests"
Most tests in Avalanche are integration tests and are using very expensive datasets (e.g. MNIST) with large networks and a high number of iterations. This is not needed for most tests, so there is space for a lot of speedup.

[2021-12-20 16:56] lrzpellegrini opened #858 "Using ReduceLROnPlateau"
### Discussed in https://github.com/ContinualAI/avalanche/discussions/854

<div type='discussions-op-text'>

<sup>Originally posted by **DannyFGitHub** December 16, 2021</sup>
Is there a built in way of using pytorch's ReduceLROnPlateau on the LRSchedulerPlugin. Or does Avalanche have a built-in way of implementing ReduceLROnPlateau?
I've come accross a few issues such as : step() takes a metric w

[2021-12-21 14:39] lrzpellegrini commented on #858
Blocked by #843

[2021-12-22 11:26] #838 closed

[2021-12-22 16:10] zalakbhalani opened #860 "Refactoring needed in 'Without Avalanche' on Avalanche homepage"
[code]
There is a mistake in Gitbook in `Without Avalanche` tab. We need to replace `train` with `test` in these lines.

Here are reference lines from the Gitbook README.md file.
https://github.com/ContinualAI/avalanche/blob/b6e9239c1780d3847276cdae5bc8c21deae660af/docs/gitbook/README.md?plain=1#L183

https://github.com/ContinualAI/avalanche/blob/b6e9239c1780d3847276cdae5bc8c21deae660af/docs/gitbo

[2021-12-24 09:13] vlomonaco commented on #860
Thanks @zalakbhalani for reporting it! We'll fix it asap!

[2021-12-24 11:18] zalakbhalani commented on #860
I may help you with fixing that. Can you assign this issue to me?

[2021-12-24 13:00] #858 closed

[2021-12-24 14:03] lrzpellegrini opened #864 "Process doesn't close when using TensorboardLogger"
In certain (hard to reproduce) configurations, a Python process using Avalanche may get stuck and not terminate once the main thread exits.

This seems to be related to `TensorboardLogger`, which is keeping a reference to a `SummaryWriter` alive. The `__del__` method is not sufficient to finalize the writer.

[2021-12-25 13:46] #864 closed

[2021-12-29 03:45] #860 closed

[2021-12-29 04:32] ashok-arjun commented on #850
@lrzpellegrini Can you please tell me where exactly the changes (and tests) must be done? This issue seems too broad to me.

Thanks!

[2021-12-29 22:40] lrzpellegrini commented on #850
Hi @ashok-arjun, I'm already working on this.

It's a very broad issue an it requires a lot of changes in different modules and I'm implementing this along with the checkpointing functionality.

[2021-12-31 13:43] rokity commented on #851
Hi
I suggest to implement test for every new feature . So in this way you don't need to use every datasets, but just the dataset that you need.
What you think?

[2021-12-31 13:47] rokity commented on #780
Hi

I suggest to make a refactor of the evaluation, logging, training and also models to check if some library are optional. If it's optional add a try and catch clause.

[2022-01-02 10:05] niniack opened #869 "Benchmarks Zero to Hero tutorial produces unexpected output"
🐛 **Describe the bug**

The Zero to Hero Tutorial on Benchmarks has a line of code under the [Scenarios sub-header](https://avalanche.continualai.org/from-zero-to-hero-tutorial/03_benchmarks#scenarios) that produces an unexpected output

🐜 **To Reproduce**
Below is the original code, highlighting only the problematic section
[code]

🐝 **Expected behavior**
This tutorial should be printing a list o

[2022-01-03 09:00] happymlearner opened #870 "icarl"
icarl algorithm i need to apply on network attack data

[2022-01-03 09:42] #870 closed

[2022-01-03 10:25] AntonioCarta commented on #851
The idea is to use only a small synthetic dataset with a small input, which does a minimal number of iterations.

[2022-01-03 13:24] #771 closed

[2022-01-03 13:54] #377 closed

[2022-01-05 15:52] AntonioCarta commented on #869
Thanks! I believe for the moment the best solution would be to improve the tutorial's output without changing the class internals since they may change for other reasons (the less we expose to beginner users, the better). Feel free to do it how you prefer it as long as it is understandable by a beginner.

You can change the [benchmarks notebook](https://github.com/ContinualAI/avalanche/blob/master

[2022-01-05 18:53] niniack commented on #851
Could you please point to an example of a test that is using an unnecessarily expensive dataset?

[2022-01-07 13:42] AntonioCarta commented on #851
A good place to start may be `tests/training/test_strategies` and `tests/training/test_ar1`. These are integration tests, so it doesn't matter exactly what architecture, data or number of iterations they use. We can probably use very small models, a small number of iterations and epochs (>1) and so on.

[2022-01-10 10:09] #869 closed

[2022-01-11 03:22] Anderson-Jane opened #876 "Some question Training on dynamic module PNN"
Follow your tutorial, create the benchmark PermutedMNIST(3 experience) and train on PNNstrategy.
![train code](https://user-images.githubusercontent.com/81062094/148875008-9d229d9e-6504-4456-93c5-21a7bbafd3c1.png)
However, during the second experience eval process, keyerror accured:
![error report](https://user-images.githubusercontent.com/81062094/148875490-5113b786-0c2c-41df-a414-d3edd7e2459b.pn

[2022-01-11 09:04] AntonioCarta commented on #876
thanks for the report. I will try to fix it asap. You are running the notebook without modification? If not, please give me a complete example

[2022-01-11 11:25] AntonioCarta commented on #846
I found the problem, it was in my own code.

[2022-01-11 11:25] #846 closed

[2022-01-12 07:29] qsunyuan commented on #4
Great work.

Hi!

Great work.

Recently I also reproduced iCaRL, but I cannot achieve the original results. I tried many methods, adjust learning rate, more training epochs, different weight decay.....

Could u pls share ur CIFAR100 icarl results.

For example, ten tasks which each task has 10 classes.

I cannot achieve the original results, about 49%. How's ur results.

<img width="327" alt="1641

[2022-01-12 07:31] qsunyuan commented on #4
Hi!

Great work.

Recently I also reproduced iCaRL, but I cannot achieve the original results.

Could u pls share ur CIFAR100 icarl results.

For example, ten tasks which each task has 10 classes.

I cannot achieve the original results, about 49%. How's ur results.

<img width="326" alt="1641972671(1)" src="https://user-images.githubusercontent.com/71776283/149083213-5ad014d1-05f5-45a7-ba4d-467215

[2022-01-12 09:30] vlomonaco commented on #4
Hi @qsunyuan! Results on Cifar100 are reproduced here: https://github.com/ContinualAI/reproducible-continual-learning

[2022-01-13 03:02] qsunyuan commented on #4
THx for ur help, it helps me a lot. Best wishes.

[2022-01-19 07:34] Anderson-Jane commented on #876
Sorry for the late reply, here is the code I implemented:
![image](https://user-images.githubusercontent.com/81062094/150084348-37b87ef3-b16b-4d69-8838-d91e63a4c548.png)

[2022-01-19 10:25] AntonioCarta commented on #876
Can you give me a text file that I can easily copy-paste? I need something that I can run myself to debug it quickly.

[2022-01-19 10:35] Anderson-Jane commented on #876
[code]

[2022-01-19 14:43] AntonioCarta opened #881 "Towards a new template for Online CL"
I’m opening this issue to keep a live discussion about the online strategies work that we are currently doing.
## Proposed Implementations
We have two candidate solutions:
- **(1) Create Mini-Experiences** (up to a single sample sample per experience): this is what avalanche currently supports.
	- *pros*: we already have benchmark builders (the data-incremental one) and model/strategy/evaluation s

[2022-01-19 17:16] vlomonaco commented on #135
Pip package added since v0.1.0. We won't support the conda package for the moment.

[2022-01-19 17:16] #135 closed

[2022-01-20 09:59] AntonioCarta opened #883 "Experiences (and benchmarks) with arbitrary data"
For my own research I need to provide additional data in the experiences/benchmark, such as a bunch of pretrained models (one for each experience). Right now, Avalanche doesn't support this use case. I can go around it, but I think it would be useful in other setting to have other kind of information in experiences. For example, in RL experiences have the environment and they do not have the datas

[2022-01-20 12:41] vlomonaco commented on #571
I think we can close this. The FZTH chapter is now in line with the features offered.

[2022-01-20 12:41] #571 closed

[2022-01-20 13:36] AntonioCarta opened #886 "Examples in the documentation"
We should add some examples in the documentation, at least for the high level classes and all the features more frequently used by the end user.

See #885 for an example

[2022-01-23 01:27] ContinualAI-bot opened #890 "Creation of a new envirnment failed for python 3.7"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-01-23 01:27] ContinualAI-bot opened #891 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-01-25 05:39] ashok-arjun opened #892 "Integrate nvidia-DALI?"
[NVIDIA Dali](https://github.com/NVIDIA/DALI) is a GPU-accelerated library that speeds up data-processing pipelines by as high as 67% for large datasets like imagenet (some benchmarks [here](https://developer.nvidia.com/blog/case-study-resnet50-dali/) and [here](https://github.com/tanglang96/DataLoaders_DALI) (the speedup is higher with a larger number of workers).

Integrating this library into a

[2022-01-25 08:37] #876 closed

[2022-01-25 08:55] AntonioCarta commented on #892
Thanks, this is an important issue. I will add [ffcv](https://ffcv.io/) as another option to evaluate.

There are a couple of isses to solve to guarantee fast dataloading:
- ensure default dataloaders created by the library are fast (yet they should be general).
- figure out how to support data loading in online learning. Since each experience has only one sample at a time, we create the dataloade

[2022-01-25 09:22] ashok-arjun commented on #892
Yes, I agree with the online CL part. Recent works use batch_size as 10 for online CL - but I think we should make it generalized to be always 1?

With `ffcv`, I've been trying it out recently, and there are so many environment-related problems. `DALI` is more stable.

[2022-01-25 09:34] AntonioCarta commented on #892
can you try to test both with Avalanche by overriding `make_train_dataloader` and `make_eval_dataloader` and let us know if anything breaks? This small experiment will be useful to decide which one to use.

This is an important point. Are you on linux/windows/mac?

Ideally, the best solution would be transparent to the user (dropin replacement for pytorch dataloaders) and easy to package, otherwis

[2022-01-25 10:38] AntonioCarta commented on #876
@Anderson-Jane this is fixed now.

[2022-01-25 11:02] ashok-arjun commented on #892
Well actually the current integrations need a lot of new code to be completely the same as the original loaders - an example is transforms. For every torchvision transform, there is an equivalent transform in the Dali library, as well as in the FFCV library (understandable, since they accelerate the transforms).

As for `ffcv`, I'm on linux right now and facing a lot of issues. Plus, it is only av

[2022-01-26 11:13] #833 closed

[2022-01-30 09:07] HamedHemati opened #899 "Customized forward funciton in the base strategy"
Feature request:

The base strategy always uses `avalanche_forward` inside its `forward` function. This can be limiting when the strategy's model has more than one output, for example, `(hidden_feats, prediction)`. Also, it feeds the `task_labels` to the model only if it is an instance of  `MultiTaskModule`, so if the model is single-head, it still has to use `MultiTaskModule` to receive `task_lab

[2022-02-01 08:28] HamedHemati commented on #899
True, thanks.
The problem with the first solution is that you have to create a sub-class only for the forward function. So if you have 5 existing strategies, you would have to create a "MyXStrategy" version for each.

The hack looks good though but it's still a hack. I'm going with this one for now.

This is not something urgent for now but could be considered for the "general" BaseStrategy" in th

[2022-02-01 08:47] HamedHemati commented on #899
We can close this issue for now.

[2022-02-01 08:58] vlomonaco commented on #899
Should I move it to the Discussions tab instead?

[2022-02-01 09:15] AntonioCarta commented on #899
IMO the solution for this problem already exists. Strategies are implemented as plugins, so you can add them to your custom loop without subclassing N times.

The problem that I see with your proposals is that we are adding a bit of indirection without much benefits. And it's not just one function. If you do it for `forward` then you probably want to do it for `criterion`, `make_train_dataloader`,

[2022-02-01 09:50] HamedHemati commented on #899
Yea, this should work perfectly for the strategies implemented as a plugin, but not all strategies are/can be implemented as plugins.
I think it's only needed for the `forward` and `criterion` functions, but I'm not sure if `make_train_dataloader` and  `make_eval_dataloader` need any changes as you define the output tuple in the benchmark's dataset.

In the end, this would be a question of which m

[2022-02-04 17:09] #568 closed

[2022-02-04 17:09] #558 closed

[2022-02-04 17:10] #587 closed

[2022-02-04 17:12] AntonioCarta opened #903 "Avalanche Roadmap to Beta-2 (v0.2.0)🚀"
I'm opening this issue to keep track of the multiple issues that we have to fix before the next version. Feel free to edit it.

**Benchmarks**

- [x] support for object detection (see #547, #536 and #422)
- [ ] Remove task labels for SIT #464
- [ ] Fallback mechanism when "targets" is not found #422

**Training**

- [ ] Distributed Training #850
- [ ] New strategies (which one?)

**Models**

-  [

[2022-02-04 17:14] AntonioCarta commented on #851
I added conditional testing so that datasets tests are not executed anymore by the github CI. These tests are unlikely to break unless the datasets are changed. Tests are now 4 times faster. I'm closing the issue.

[2022-02-04 17:14] #851 closed

[2022-02-04 17:35] vlomonaco opened #904 "Using validation set for early stopping"
### Discussed in https://github.com/ContinualAI/avalanche/discussions/900

<div type='discussions-op-text'>

<sup>Originally posted by **sivomke** January 30, 2022</sup>
Hi, everyone!

I have created a benchmark with **dataset_benchmark** that contains 3 experiences, and then have added a validation set to this benchmark with **benchmark_with_validation_stream**. I am trying to use Early Stopping

[2022-02-10 17:11] ggraffieti commented on #891
No more errors in recent bulds, we can close.

[2022-02-10 17:14] #891 closed

[2022-02-11 14:04] AntonioCarta commented on #850
I'm pasting some notes that I took during our last meeting. Keep in mind that I have very limited experience with distributed training.

## Dataloading
Distributed training requires to use a DistributedSampler (i.e. split samples among workers). Avalanche plugins may need to modify the data loading. How do we ensure they do not break with distributed training? Do we need to provide some guidelines

[2022-02-13 15:42] pzSuen opened #912 "install success but import error"
As seen in the image,
the code  of ava.py is copied from ["putting all together"](https://avalanche.continualai.org/from-zero-to-hero-tutorial/07_putting-all-together)
![image](https://user-images.githubusercontent.com/43957007/153761490-17aa1ef9-91e7-416a-907b-3e1dad2a53ed.png)

[2022-02-14 03:13] pzSuen commented on #912
Thank you, problem solved in this way.

But I encountered another problem when I was using dataset_benchmark.
I defined my own `dataset` in the way CIFAR10 does,
And then, I try to run the following code,
[code]

The overall length is 270, and the last should be 269 rather than 270. I don't know why this happened.

[code]

[2022-02-14 07:06] #912 closed

[2022-02-15 09:21] AntonioCarta opened #913 "update gitbook tutorials"
gitbook tutorials can be executed on colab. They are created for Avalanche 0.1.0. The problem is that they install from pip, meaning most of them crash due to breaking changes in the master:
`!pip install git+https://github.com/ContinualAI/avalanche.git`

See [models FZTH](https://avalanche.continualai.org/from-zero-to-hero-tutorial/02_models)

The installation command should be updated.

[2022-02-15 10:12] #913 closed

[2022-02-21 19:19] shekkizh opened #918 "Multiple buffer resize calls made in ParametricBuffer"
Hi,
I'm working with ReplayBuffers and noticed that these methods are extremely slow. On digging into the code I noticed that the `update` function in this class calls `resize` 3 times for a single update, and since this involves going through the entire data, it ends up with a much longer runtime. The fix should be fairly simple.

Relevant Code snippets:
lines 355 - 373 of storage_policy.py
[code

[2022-02-22 10:23] AntonioCarta commented on #918
Can you explain what is wrong here? Given a fixed memory size, each time that you add new samples you also have to resize the buffer. If your memory is split into groups, you have to resize each group.

This is incorrect. Concatenating datasets does not require iterating over the original data.

Can you give more details about the runtime? Did you measure it? compare it against something? Are you

[2022-02-22 10:38] HamedHemati commented on #918
@shekkizh thanks for reporting the issue. Are you using the Beta version (0.1.0) of Avalanche?
If yes, I guess the "extremely slow" running time is due to the way replay data loaders are created for each buffer task. The replay plugin has changed since the beta release. Now you can set `task_balanced_dataloader = False` in `ReplayPlugin` to avoid "long" parallel replay data loaders when the number

[2022-02-22 14:48] Harry-Up commented on #903
Thanks for your great work!

For new strategies, continual learning methods with dynamic network structures may be considered. It avoids catastrophic forgetting by applying different network parts in different tasks. Although this type of method is not elegant, it is simple and effective to avoid forgetting the old task knowledge. Related works include

- [PiggyBack](https://github.com/arunmallya/

[2022-02-22 14:53] AndreaCossu commented on #903
Thanks @Harry-Up ! I think most of the features required to build dynamic network structures (and the strategies you mentioned) are already in Avalanche. We just need the bandwidth and time to implement them :smile:

[2022-02-23 11:31] AntonioCarta commented on #918
I understands now. You are correct and we can probably avoid this and do the resize only once (call 3). It shouldn't make a large difference in runtime but it's still a useless operation (if you have an expensive selection strategy).

[2022-03-02 16:21] tyler-hayes opened #926 "OpenLORIS dataset auto-downloads on each code execution when using the classic scenario"
🐛 **Describe the bug**
When trying to create the classic scenario for the OpenLORIS dataset, the download flag is set to True, which auto-downloads the dataset every time the script is run.

🐜 **To Reproduce**
[code]

🐝 **Expected behavior**
The scenario loader would use the data located at `dataset_root` instead of auto-downloading the data each time the script is executed.

🦋 **Additional contex

[2022-03-02 19:01] AndreaCossu commented on #926
This is strange, the dataset should not be downloaded twice, even if `download=True`. It may be a bug related to the [`load_metadata`](https://github.com/ContinualAI/avalanche/blob/68ee2362204eff392d61ccca01155bade1e3be32/avalanche/benchmarks/datasets/openloris/openloris.py#L80) method in our OpenLoris implementation. It should check if the dataset is already present. If it returns `True` the down

[2022-03-02 19:28] tyler-hayes commented on #926
Perhaps the issue is that I downloaded the dataset from the project website directly and then tried using the `dataset_root` path to access the images. Downloading with python was very slow, whereas downloading from the project website was much quicker for some reason

[2022-03-02 19:45] tyler-hayes commented on #926
It looks like I was missing the extra meta-data files (`batches_filelists.zip`, `Labels.pkl`, `LUP.pkl`, and `Paths.pkl`). Once I downloaded those and made my `dataset_root` a `Path` object from the `pathlib` library, the scenario successfully loaded. Sorry for the confusion and thanks for your quick reply and willingness to help! :D

[2022-03-02 21:01] AndreaCossu commented on #926
No problem, thanks for getting in touch :smile: I'll close this issue then!

[2022-03-02 21:01] #926 closed

[2022-03-03 11:13] travela opened #927 "Implementation of a Generative Replay Strategy"
### Discussed in https://github.com/ContinualAI/avalanche/discussions/414

Introduce a plugin-based implementation of Generative Replay, see [the original paper](https://arxiv.org/abs/1705.08690) for details.

[2022-03-03 17:18] ggraffieti opened #928 "CORe50Dataset return the whole dataset (train + test set) with the attribute train=True"
🐛 **Describe the bug**
The CORe50Dataset return the whole dataset (train + test set) with the attribute train=True

🐜 **To Reproduce**
[code]

🐝 **Expected behavior**
Only the training set should be returned.

🐞 **Screenshots**
N/A

🦋 **Additional context**
N/A

[2022-03-03 18:08] vlomonaco commented on #928
OpenLoris dataset should be checked as well!

[2022-03-06 12:49] Servat0r opened #930 "Could not use multiple workers for training on Windows"
🐛 **Describe the bug**
Trying to run the example script on README.md on Windows 10 (with "if __name__ == '__main__'" line for running with PyCharm), if I set num_workers to a value > 0 in cl_strategy.train(...), I get the following error:

Traceback (most recent call last):
  File "C:\Users\Amministratore\AppData\Local\Programs\Python\Python39\lib\multiprocessing\spawn.py", line 126, in _main

[2022-03-06 13:08] AndreaCossu commented on #930
I think `num_workers>0` + Windows is a known bug. You can take a look at #249 which references this [pytorch bug](https://github.com/pytorch/pytorch/issues/12831).

[2022-03-06 15:42] Servat0r commented on #930
@AndreaCossu
self = reduction.pickle.load(from_parent)
TypeError: init() missing 1 required positional argument: '**_avalanche__**dataset'

The pytorch bug talks about very slow dataloaders, but this does not work.

**NOTE** : If num_workers>0 is on **test** set, it works fine.

I think it is Avalanche-related.

[2022-03-08 13:56] AndreaCossu commented on #930
I think first we need to be able to reproduce this. Unfortunately I am not on Windows, maybe @vlomonaco or @AntonioCarta can give it a try.

[2022-03-09 15:24] #928 closed

[2022-03-16 17:22] vlomonaco commented on #930
@Servat0r please check also if PR #938 helps!

[2022-03-17 09:25] #930 closed

[2022-03-22 16:29] hsalkhatib opened #943 "Quick Example - Code Error"
When running the quick example code, the following line return an error:
from avalanche.training.supervised import Naive

Removing ".supervised" removes the error.

Does your code need update? Please clarify

[2022-03-23 11:47] weizh588 opened #944 "It seems that I am experiencing an error in Quick Example?"
Exception ignored in: <function _MultiProcessingDataLoaderIter.__del__ at 0x7ffbee24c3a0>
Traceback (most recent call last):
  File "/home/wzh21/.conda/envs/clvision/lib/python3.8/site-packages/torch/utils/data/dataloader.py", line 1328, in __del__
    self._shutdown_workers()
  File "/home/wzh21/.conda/envs/clvision/lib/python3.8/site-packages/torch/utils/data/dataloader.py", line 1283, in _shutd

[2022-03-23 17:14] AntonioCarta commented on #944
This is a known issue with Pytorch dataloaders on windows. You can fix it by changing `num_workers=0`. I don't think we can do anything on our side.

[2022-03-23 17:15] AntonioCarta commented on #943
I fixed this. The current example works both on the master branch and stable release.

[2022-03-23 17:15] #943 closed

[2022-03-24 16:33] ContinualAI-bot opened #948 "Creation of a new envirnment failed for python 3.7"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-03-25 11:26] hsalkhatib commented on #943
Thank you very much

[2022-03-25 15:42] ggraffieti commented on #948
@lrzpellegrini had you re-run the actions to create a new environment yesterday? I see that all the environment are created correctely from [here](https://github.com/ContinualAI/avalanche/actions/runs/2035290604).
If so, this issue can be closed.

[2022-03-25 15:53] lrzpellegrini commented on #948
Yes, for some reason the environment update action was not triggered, so I did that manually. GitHub Actions was kind of sleepy yesterday...

It should be ok now!

[2022-03-27 01:33] ContinualAI-bot opened #949 "Creation of a new envirnment failed for python 3.8"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-03-27 13:06] AndreaCossu opened #950 "AGEM blocks on Split CIFAR-100"
From https://github.com/ContinualAI/reproducible-continual-learning/issues/16

AGEM blocks in the `sample_from_memory` call when retrieving the next element from the `GroupBalancedInfiniteDataLoader`, which represents the AGEM buffer.
The process does not always block at the same experience and the problem is not there for other benchmarks like Permuted MNIST.

You can reproduce the problem with t

[2022-03-27 18:14] AndreaCossu commented on #950
The problem is related to `num_workers` in the constructor of `GroupBalancedDataLoader`. When set to zero (therefore also setting `persistent_workers=False`) the problem disappears. Setting `persistent_workers=False` alone does not suffice.
Should we change the default values then?

I am providing a more focused snippet of code which does not involve AGEM

[code]

[2022-03-28 08:33] #950 closed

[2022-03-28 09:17] AntonioCarta commented on #841
#951 should fix this. I'm closing the issue for the moment. Feel free to reopen it if the problem is still there.

[2022-03-28 09:17] #841 closed

[2022-03-29 13:04] 769430755 opened #952 "Support tensorflow"
I use this repo to work with continual learning works recently, it helps me a lot.
And do you have any plan to support tensorflow(now is PyTorch), such as the class "model", which is implemented by torch.nn?
Thank you!

[2022-03-29 13:37] vlomonaco commented on #952
Hi, thanks, we don't have any short-term plans to support Tensorflow, sorry. A discussion about this here: https://github.com/ContinualAI/avalanche/discussions/497

[2022-03-29 13:37] #952 closed

[2022-03-29 14:26] AndreaCossu opened #953 "Add a plugin to manage the weight importance computation and penalization to the loss"
By using a separate plugin to compute importances and penalize the loss we can reuse the same interface for EWC, MAS, SI and all future strategies.

[2022-03-29 15:20] SunHaozhe opened #954 "Online EWC fails if multi-head model has different number of classes for each head"
The current implementation of Online EWC does not work when the multi-head model has different number of classes for each classification head.

[2022-03-29 15:22] AntonioCarta commented on #954
Thanks! We will try to look into this ASAP.

[2022-03-29 16:27] AndreaCossu commented on #954
I am not able to reproduce this issue, it's working for me on Split MNIST (4 experiences, 3-2-3-2 classes in each exp) with multi-head MLP.
Can you provide a minimal working code?
Also, are you using the master version of avalanche or the beta release from pip? I think @AntonioCarta solved this bug in a recent commit which is not included in the beta version.

[2022-03-29 16:35] AndreaCossu commented on #954
Btw this is my code:
[code]

[2022-03-30 08:10] ContinualAI-bot opened #957 "Creation of a new envirnment failed for python 3.6"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-03-30 12:54] ContinualAI-bot opened #958 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-03-30 12:54] ContinualAI-bot opened #959 "Creation of a new envirnment failed for python 3.8"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-03-30 12:54] ContinualAI-bot opened #960 "Creation of a new envirnment failed for python 3.7"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-03-30 13:14] ContinualAI-bot opened #961 "Creation of a new envirnment failed for python 3.6"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-04-01 09:14] lkorycki opened #966 ""Least Astonishment" and ICaRLLossPlugin"
Hello,

I was wondering if we can run iterative experiments with multiple streams/algorithms/parameters in one script when using this library. Was it considered in its design?

I am asking because most (all?) of the included examples show only a single run for a given algorithm and benchmark. There are no loops like:

[code]

I would assume that we can write scripts like that, however, I encounter

[2022-04-01 10:08] AntonioCarta commented on #966
You are correct, the mutable assignment in the constructor is a bug and it should be changed.

[2022-04-01 13:13] #957 closed

[2022-04-01 13:13] #958 closed, assigned to nobody

[2022-04-01 13:13] #959 closed

[2022-04-01 13:13] #961 closed

[2022-04-04 10:34] TimmHess opened #969 "Avalache scripts are not returning to terminal prompt"
🐛 **Describe the bug**
When execution of an avalanche-based (training) script is concluded (the last line of code is completed successfully) the script does not terminate but keeps 'idling', i.e. not returning to the terminal prompt. It is only after manual interference (Ctrl-C) that I reach the prompt again.

🐜 **To Reproduce**
For reproduction purposes I used this code:
[code]

🐝 **Expected beha

[2022-04-04 12:43] AntonioCarta commented on #969
I'm unable to reproduce this issue on the master branch. Can you check on the master branch?
On my system the script closes correctly.

[2022-04-04 12:49] AndreaCossu commented on #969
I ran the script with Avalanche 0.1.0 and python 3.9.7 and also in my case it completes successfully.

[2022-04-04 13:24] TimmHess commented on #969
Ok this is weird. I narrowed it down to the TensorboardLogger. The script exits to prompt as expected when I exclude the tb_logger or as well if I call `del` at the end of the script.
Maybe it is something funny with my setup and tensorboard..

[2022-04-04 13:34] AndreaCossu commented on #969
I reproduced the behavior with your configuration. It seems to be dependent on python version: code works on python 3.9.7 and torch 1.11.0.
I don't know the reason behind it but if you don't want to switch to avalanche master branch one solution may be to upgrade python :smile:

[2022-04-04 13:42] TimmHess commented on #969
Oh wow, nice :D Thank you for putting in the effort and testing that for me, much appreciated!

[2022-04-04 13:42] #969 closed

[2022-04-05 14:55] lkorycki commented on #966
:+1: I think I can try taking care of it next month. It seems pretty easy to fix.

[2022-04-08 07:18] AntonioCarta commented on #966
Thanks, I'm assigning this to you.

[2022-04-08 07:19] AntonioCarta commented on #966
I think there may be other similar issues (e.g. the default logger). If you catch them, you can fix those too.

[2022-04-08 07:35] lkorycki commented on #966
Sure :)

[2022-04-08 09:45] #927 closed

[2022-04-08 09:48] AntonioCarta opened #974 "CI Test failing on python 3.8"
`tests.training.test_strategies_accuracy.StrategyTest.test_multihead_cumulative` is failing on python 3.8.
I tested it locally and it is working. Here are the results of two independent runs:

[code]

the test requires average accuracy above 0.7.

[2022-04-10 01:49] ContinualAI-bot opened #976 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-04-12 16:42] ghost opened #978 "Error while installing avalanche-lib"
I'm trying to install the avalanche library in my Python 3.9.7 (also tried in 3.9.5) running on PyCharm. As stated in the web I'm launching the command:

`pip install avalanche-lib
`
Here is the error. It looks like it starts collecting the packages correctly but suddenly stopped when unpacking 'quadrapog'. It mentions something about Microsoft Virtual but it is already installed.

[code]

PD: Sor

[2022-04-12 19:15] AndreaCossu commented on #978
The error does not show up on Linux, it seems to be a Windows related problem. Currently, we do not support Windows in our tests so it is hard to understand what the problem is.
My suggestion is to 1) follow the error message and update Microsoft Visual C++ to 14.0 or greater. Otherwise, 2) try to manually install `pycocotools` and `quadprog` in your environment and install avalanche afterwards.

[2022-04-13 09:09] ggraffieti commented on #976
Same error as #974

[2022-04-13 09:17] ggraffieti commented on #974
Seems that the same test failed for the same reasons in python 3.9 when the create environment action is triggered (see #976).
Since the same error is triggered in 2 different runs with 2 different python versions, it's pretty clear that the tests are not deterministic, which is an issue by itself.
Since is always the multihead test that failed, I guess the effect of different initialization or di

[2022-04-13 09:30] AntonioCarta commented on #978
I'm unable to reproduce this issue. I just installed avalnche from pip on Windows. Can you try on a fresh environment?

[2022-04-13 09:35] ContinualAI-bot opened #979 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-04-13 11:20] ggraffieti commented on #979
same as #976

[2022-04-13 11:20] #979 closed

[2022-04-13 11:54] ggraffieti commented on #974
I double-checked (in my pc) and the test are definitely not deterministic.
I added a piece of code to make them deterministic and now if I launch them few times the results are always the same.
This is a quick fix only in the file `tests/training/test_strategies_accuracy.py`, we need to insert this "seed initialization" before every test.
We can make an util function that do that and call it at th

[2022-04-13 14:21] #978 closed, assigned to nobody

[2022-04-13 14:22] PabloMese commented on #978
I started working on Linux and it worked

[2022-04-13 16:24] PabloMese opened #981 "¿Running on GPU?"
Hi everybody

How can I know if the experiments are running in the CPU or GPU? If by default is the CPU, how can I change it to run them in the GPU?

[code]

Thank you in advance

[2022-04-13 17:02] AntonioCarta commented on #981
Strategies have an argument `device`. Example:
[code]

[2022-04-13 17:03] #981 closed

[2022-04-14 08:43] AntonioCarta commented on #954
Closing this since it seems to work on the master branch. Feel free to reopen it if it's not.

[2022-04-14 08:43] #954 closed

[2022-04-14 08:44] AntonioCarta commented on #883
Fixed by #977

[2022-04-14 08:44] #883 closed

[2022-04-14 08:45] AntonioCarta commented on #881
Current situation: lazy benchmarks are as fast as the naive (non-avalanche) solution. We need to provide an OCL template with sensible defaults for logging (i.e. not after every experience) to reduce the cost of logging. It will probably need other minor modifications.

[2022-04-14 08:45] AntonioCarta commented on #680
Fixed by #977.

[2022-04-14 08:45] #680 closed

[2022-04-14 08:46] AntonioCarta commented on #673
Fixed by #977.

[2022-04-14 08:46] #673 closed

[2022-04-14 08:46] AntonioCarta commented on #600
Fixed by #977.

[2022-04-14 08:46] #600 closed

[2022-04-14 08:46] #540 closed

[2022-04-14 08:46] #537 closed

[2022-04-14 08:47] AntonioCarta commented on #380
Can I close this? I think we have everything that we wanted.

[2022-04-14 08:47] #380 closed

[2022-04-14 08:47] AntonioCarta commented on #346
I think this was completed some time ago.

[2022-04-14 08:47] #346 closed

[2022-04-14 08:48] #280 closed

[2022-04-14 09:08] #206 closed

[2022-04-14 12:31] #974 closed

[2022-04-14 12:31] #976 closed

[2022-04-14 16:59] evertonaleixo opened #983 "Problem in JointTraining strategy"
Hi, I was looking at the JointTraining strategy training code, and it only considers the first experience. When I create a benchmark with more than one experience, it only trains on the first one.

I think I should aggregate the dataset from all experiments and then train the model.
Am I right?

🐜 **To Reproduce**
[code]

🐝 **Expected behavior**
The training use all data sets of the benchmark.

[2022-04-14 17:15] AndreaCossu commented on #983
Under the hood, `JointTraining` concatenates all the data in each training experience into a single dataset and trains the model on it. If you look at the progress bar during training is longer than the one of a single experience alone.

[2022-04-14 17:38] evertonaleixo commented on #983
![image](https://user-images.githubusercontent.com/6534458/163443275-ccdd4b6b-c482-465f-9e6d-855cdaf9e30e.png)

I did it, but the amount of items in the data set is only 60.000 using 10 experiences. It should be 600.000.

[2022-04-15 08:09] AntonioCarta commented on #983
Can you try the master branch? it seems fixed there.

[2022-04-15 21:55] evertonaleixo commented on #983
I looked line by line and found my mistake. Despite the log only showing 60.000 items, it really merges the data of all data sets.

Thank you. I will close this thread.

[2022-04-15 21:55] #983 closed

[2022-04-15 22:07] evertonaleixo opened #985 "bug in "get_metric_name" method."
The method "get_metric_name" of metric_utils, is returning the task ID in metric, even when we pass the parameter add_task=False.

When we pass False to this parameter, it considers False as an int instance and converts it to '0'. It enters in the last elif of the image below.

It makes the EarlyStoppingPlugin not work right, because of the metric's name.
Maybe, the EarlyStoppingPlugin should look

[2022-04-15 22:21] evertonaleixo commented on #985
I think this bug is related to issue #904 .

[2022-04-16 08:54] AndreaCossu commented on #985
You are right, this function has the wrong behavior, since python considers boolean instances of both `bool` and `int`. I can fix the function, thanks for reporting!

[2022-04-16 10:18] #985 closed

[2022-04-16 14:25] evertonaleixo opened #987 "Eval stream in JointTraining strategy"
I do not know if it is a bug or a project decision.

In JointTraining strategy, it merges the data of all training experiences (for example, 3 experiences). It does this in 'train_dataset_adaptation' hook. However, when it passes to the eval phase, at the end of epoch, it calls '_periodic_eval' method passing the 3 experiences eval data.

One problem with this behavior is that, when we use EarlySt

[2022-04-17 01:51] ContinualAI-bot opened #988 "Creation of a new envirnment failed for python 3.8"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-04-19 12:25] AntonioCarta commented on #987
I believe the main problem is that it is difficult to express exactly what kind of metric is needed for the early stopping since it depends on many factors (which stream, which experiences), and this may also change over time (e.g. the current experience) so providing a string is not sufficient.

I strongly prefer not touching the eval stream (o.w. metric names become more ambiguous) and instead g

[2022-04-19 14:41] NickLucche opened #989 "Fix type hints to make use of new benchmark structure"
I think we should update the typing in function signatures such as https://github.com/ContinualAI/avalanche/blob/master/avalanche/training/templates/base.py#L74 requiring specific experiences to be more general, replacing them with the new [CLExperience](https://github.com/ContinualAI/avalanche/blob/master/avalanche/benchmarks/scenarios/generic_scenario.py#L73), perhaps even swapping the `Sequence

[2022-04-19 17:52] NickLucche commented on #989
yeah I was thinking about something like `experiences: Union[CLExperience, CLStream ]`

[2022-04-21 08:38] Mattdl opened #994 "Tensor labels unexpected behaviour storage policies"
Hi, I don't have time for PR atm, but quickly reporting a bug when iterating targets in the `storage_policy.py`.
Iteration over the targets in ClassBalanced and Parameterized Buffer will see each sample as a new class when `targets` is a tensor.

For example

    for idx, target in enumerate(new_data.targets):
      # if target is tensor, will be seen as separate class (because different id betwee

[2022-04-21 14:42] AntonioCarta commented on #994
Thanks. This is definitely a bug. Do you have a small script that we can use to reproduce it?

[2022-04-24 15:20] evertonaleixo opened #999 "Hotfix to add_transforms_to_group method in AvalancheDataset"
This method has a code mistake when you try to add a new target_transform to a group that is not the current group. I opened a pull request to fix it with some unit tests for future regression tests.

🐜 **To Reproduce**
[code]
🐝 **Expected behavior**

dataset.target_transform == target_transform

🐞 **Screenshots**
If applicable, add screenshots to help explain your problem.

🦋 **Additional context

[2022-04-24 15:25] evertonaleixo commented on #999
I did a pull request #1000.

[2022-04-25 23:28] evertonaleixo opened #1001 "Transformations not applied on Train DataLoader"
🐛 **Describe the bug**
When you add a transformation on a dataset and create a DataLoader in the training loop, the transformations are not applied on items of this DataLoader.

🐜 **To Reproduce**

[code]

🐝 **Expected behavior**
The transformation should happen in data when loaded from DataLoader in the training loop. Therefore, many prints have to be shown.
It is happening because in TaskBalance

[2022-04-26 07:37] AntonioCarta commented on #1001
This is the problem. Ideally, the `task_set` should keep the AvalancheDatasets transformations. @lrzpellegrini is there any reason behind this choice or is it just a bug?

[2022-04-26 14:20] lrzpellegrini commented on #1001
It works fine with the latest commit in the master branch. I think that the issue is related to an older version of Avalanche.

This is the code adapted for the latest version (notice that some class names have been changed):

[code]

@AntonioCarta we should consider adding aliases for the legacy names so that they map to the new classes. Something like `BaseStrategy` -> `SupervisedTemplate`, `Str

[2022-04-26 15:09] AntonioCarta commented on #1001
The problem is that these may be very misleading, because the actual base class currently is very different from the supervised template. At least an explicit error is easy to undrestand.

[2022-04-27 06:51] mercury-w opened #1003 "How to run programs on multiple GPUs？"
How to rewrite the code to make my program run on multiple GPUs? Thanks.
################################################################################
# Copyright (c) 2022 ContinualAI.                                              #
# Copyrights licensed under the MIT License.                                   #
# See the accompanying LICENSE file for terms.                                 #
#

[2022-04-27 12:02] ggraffieti commented on #988
No error following creation. Closed

[2022-04-27 12:02] #988 closed

[2022-04-27 12:08] #989 closed

[2022-04-28 09:43] PabloMese opened #1004 "Distillation loss monitoring in LwF"
Hi, everyone

Do you know if it is possible to monitor the distillation loss in LwF during training? I have already seen how the LwFPLugin calculates it with the 'penalty' method and sums it accordingly  to the 'standard' loss function for the classification metric. However, the loss captured by the evaluation plugin is the total loss but I also want to record them separated. Is there any option t

[2022-04-28 10:21] vlomonaco commented on #1004
Hi @PabloMese, mmh.. yeah it seems to be a little tricky to monitor that easily at the moment (@AndreaCossu, @AntonioCarta correct me if I'm wrong). The cleanest option would be to create your version of the lwf plugin and save in the strategy object an additional attribute "penalty", then implement a custom metric similar to the [loss](https://github.com/ContinualAI/avalanche/blob/e5562e3f3e1aaf7

[2022-05-03 14:52] KevinG1002 opened #1007 "Lack of clarity over training time taken to run Replay strategy vs Naive strategy."
Hello,

First of all, thank you for your fantastic work. Avalanche is a pleasure to work with.

I am currently working on a basic Replay strategy implementation for a project at University. During my exploration, however, I came across a curious phenomenon when training over experiences in a class incremental scenario (i.e previously unseen classes appear in each new experience) using MNIST. I was

[2022-05-04 09:28] HamedHemati commented on #1007
Hi @KevinG1002
Are you using the beta version or the master branch to run your experiments?

[2022-05-04 09:46] KevinG1002 commented on #1007
Hi, thanks for getting back to me.
`Are you using the beta version or the master branch to run your experiments?`
I suppose that yes: I just ran the "pip install avalanche-lib" command and from there ran my experiments. My package version is 0.1.0

Do you recommend I clone &  install the library on its master branch?

[2022-05-04 10:00] HamedHemati commented on #1007
I guess the problem happens because of the way the replay plugin manages the data loaders for the current data and buffer data. The plugin has changed since the beta release, so could you please give it a try with the latest version of the code,  and see if the same thing happens?

make sure you first uninstall `avalanche-lib`

[code]
and then install it from the current commit as below:
[code]

[2022-05-04 10:11] KevinG1002 commented on #1007
Hi @HamedHemati,

I attempted what you recommended and can confirm it works: training time is now consistent across experiences when using a Replay strategy.

Cheers!

[2022-05-04 10:11] #1007 closed

[2022-05-04 11:23] PabloMese commented on #1007
Hi, @KevinG1002, @HamedHemati, I'm also installing the latest version with this line of code you shared. I can install it successfully, but when running the code this silly error raises. I can't find how the strategies module is now named.

`ModuleNotFoundError: No module named 'avalanche.training.strategies'`

[2022-05-04 12:03] HamedHemati commented on #1007
Hi @PabloMese
In the new code structure, supervised strategies can be accessed via:
`avalanche.training.supervised`

Please note that since the code is consistently changing, some existing examples/codes may not work with the master branch. We are going to have a new release with new examples and API documentation soon! :)

[2022-05-04 13:59] PabloMese opened #1010 "Validation during training: time incoherence"
Hi, everyone

I'm trying to run simultaneously the training and the validation of a CIL algorithm with `eval_every = 1` to get the  accuracy and the loss for each epoch in the test set. This is the code is use. Note that I set num_workers = 4 in the train call.

[code]

This is the problem I got. While the training iteration only lasts for 21'', the evaluation lasts for almost 3' when the size of

[2022-05-04 15:25] ggraffieti commented on #1010
The bug is in the `PeriodicEval` class (`avalanche/training/templates/base_sgd.py` file).
During the periodic evaluation is called the `eval` method on the strategy without passing the number of workers (default to 1).
[code]
It should be an easy fix, we'll notify you when is incorporated in the main branch.
Just to be sure, if you edit your code as:
[code]
should work with the same number of work

[2022-05-04 16:52] ggraffieti commented on #1010
You are right @PabloMese, good catch!
In fact '_maybe_peval' is used to eval the model after each epoch, not '_peval', which is used only at the end of the experience.
If you already fixed that in your code you can do a PR to avalanche and become an official contributor :smiley:

[2022-05-05 07:55] PabloMese commented on #1010
I think it is already solved! So we can now close this issue. Thanks for the help.

[2022-05-05 10:30] ggraffieti commented on #1010
Perfect @PabloMese!
I'll reopen just to keep track of the bug, we'll close the issue when the fix is included in the official code :+1:

[2022-05-07 09:53] WenjinW opened #1013 "Performance of LwF in examples can not be reproduced."
Hi, thanks for your contributions to the continual learning community. When I tried to use the avalanche, I encountered the following difficulties, and I am very grateful for your help.

🐛 **Describe the bug**
I ran into trouble when trying the LwF method provided in https://github.com/ContinualAI/avalanche/blob/cfe1ec37f3f7b41dc515d686e65c3fc3b121484c/examples/lwf_mnist.py. The expected performan

[2022-05-07 10:00] WenjinW commented on #1013
Supplement:
The avalanche used is installed by setup.py in the source code. (not Beta (v0.1.0)).

[2022-05-07 10:17] WenjinW opened #1014 "Why the distillation loss in LwF is different from the loss function in original paper."
Hi, thanks for your contributions to the continual learning community. When I tried to use the avalanche, I encountered the following difficulties, and I am very grateful for your help.

I find that the implementation of the distillation loss is not consistent with the original paper, is there any special consideration?

The loss in the original paper is as follows:
<img width="744" alt="image" sr

[2022-05-08 09:57] niniack commented on #886
Is the idea that an Avalanche documentation page such as [this about the SimpleCNN class](https://avalanche-api.continualai.org/en/v0.1.0/generated/avalanche.models.SimpleCNN.html#avalanche.models.SimpleCNN) would include an example [similar to this](https://pytorch.org/docs/stable/generated/torch.nn.Conv1d.html#:~:text=%3E%3E%3E%20m%20%3D%20nn.conv1d(16%2C%2033%2C%203%2C%20stride%3D2))

If I have

[2022-05-08 11:41] niniack commented on #903
Is there a benefit to/thought about adding the ExpertGate approach to Avalanche?

[2022-05-09 07:29] AntonioCarta commented on #903
yes, we are definitely interested in adding Expert Gates. It should be relatively easy.

[2022-05-09 07:30] AntonioCarta commented on #886
Yes, that's what we want to achieve. I think you can start immediately, you don't need much background on avalanche to do it. You can make a PR once you have a couple of examples if you want some comments.

[2022-05-09 07:31] AntonioCarta commented on #1014
How is it different from the original paper? Apart from some implementation details (like `active_units`) they should be the same.

[2022-05-09 07:32] AntonioCarta commented on #1013
AFAIK LwF was tested on multi-task benchmarks with a multi-head, while you are not using task labels.

[2022-05-09 08:22] ghost opened #1016 "Saving models at incremental steps"
🐛 **Describe the bug**
Avalanche is amazing to train models 'from scratch' with multiple incremental learning experiences. For example, imagine MNIST separated with 5 experiences, the training plugins allow to run from the first step (2 classes) up to the final one (10 classes). In order to save some time, I was trying to save the model after each training experiences so if I need to modify the sc

[2022-05-09 12:33] AntonioCarta commented on #1016
To support this usecase we would need to support serialization, not just of the entire model but of the strategy. Something like:
[code]
reload:
[code]
like in pytorch.

This probably requires some care when saving things like pytorch models or loggers (which may have open files).

[2022-05-10 09:46] WenjinW commented on #1014
Thanks for your reply, now I understand their equivalence.

[2022-05-10 09:46] #1014 closed

[2022-05-11 08:40] ppppeng opened #1018 "The LwFPlugin return a negative loss"
🐛 **Describe the bug**
I noticed the loss in tensorboard log is negative. And only ReplayPlugin and LwFPlugin were used.

I debug the LwFPlugin code and find that the kl_div return a negative loss.

After the code "[ : . au ]" the sum of log_p or q is not 1, and may be this is a reason.

🐝 **Expected behavior**
Does the negative loss is corret and make any sense? Or it should be fixed?

🦋 **Additi

[2022-05-11 09:13] AntonioCarta opened #1020 "update apidoc with missing classes"
TODO: there are many classes that are not in the apidoc but should be. Let's try to add them before the next release.

@AndreaCossu can you do this check for the evaluation modules? also some of the descriptions may need to be updated.

@lrzpellegrini can you do it for the detection stuff?

see #1019 PR and its readme for info on how to do this properly.

[2022-05-11 10:01] AndreaCossu commented on #1020
Yes, definitely!

[2022-05-11 10:21] WenjinW opened #1021 "Support for multi-label classification"
Hi, thanks for your contributions to the continual learning community.

I wonder if the avalanche will support the benchmark for multi-label classification tasks?

[2022-05-11 17:58] niniack commented on #903
It would be nice to give it a shot! If I make it happen, I'll make a PR

[2022-05-12 08:18] AntonioCarta commented on #780
@ggraffieti as we discussed yesterday, I'm assigning this issue to you. Keep us updated!

[2022-05-12 08:20] AntonioCarta commented on #1021
I think most stuff should already work with multi-label classification tasks, you just need to change the `criterion`. We are just missing an example of it. Where are you stuck exactly?

[2022-05-12 12:46] niniack opened #1023 "Adding ExpertGate"
I'm interested in adding ExpertGate to Avalanche. A few questions/thoughts I wanted to clarify before moving forward:

  - While the original ExpertGate model uses a pretrained AlexNet, this limits the ExpertGate to whatever task PyTorch's AlexNet was pretrained for (I think its vision tasks?). Should this implementation allow one to feed whichever model they'd like? Or, am I grossly misunderstand

[2022-05-12 13:34] AntonioCarta commented on #1023
1) I agree. I would define a general component and leave AlexNet as the default. Keep in mind that we have the [CL Baselines](github.com/continualAI/continual-learning-baselines/) repo to host reproducible experiments.

2) You can check how we implement [Progressive Neural Networks](https://avalanche-api.continualai.org/en/v0.1.0/generated/avalanche.models.PNN.html?highlight=pnn#avalanche.models.P

[2022-05-12 13:34] AntonioCarta commented on #1023
I'm assigning this to you. Thanks for the help!

[2022-05-13 14:10] HamedHemati opened #1025 "AvalancheConcatDataset is slow for online buffer updates"
As pointed out in PR #1024, in online strategies buffers are updated after every (sub-)experience, therefore creating an instance of `AvalancheConcatDataset` after every experience slows down the update process. This is not a problem for regular/offline strategies. Keeping the data in a list (and possibly with their transformations) and using the first N (eg: 1<n<=10) samples to create a small buf

[2022-05-15 10:00] guy-oren opened #1026 "Multi task LwF"
First, let me thank you for the effort and contributions to the community.

Recently, I have been doing a research related to the LwF in the multi task scenario (task incremental) and I found that LwF performance is on par with SOTA methods, link: https://openaccess.thecvf.com/content/ICCV2021W/DeepMTL/papers/Oren_In_Defense_of_the_Learning_Without_Forgetting_for_Task_Incremental_ICCVW_2021_paper.

[2022-05-16 07:51] AntonioCarta commented on #1025
Are you sure that the problem is the `AvalancheConcatDataset`? I tried to measure its runtime some time ago and it was quite fast, but I may remember correctly. Can you check the runtime of the buffer update without any other strategy code?

[2022-05-17 08:48] HamedHemati commented on #1025
So, to find the the bottleneck in the `update_from_dataset` function of `ReservoirSamplingBuffer`, I added the following condition to avoid dataset concatenation after the buffer is full as a test to make sure that it's the dataset concatenation that is slowing down the update:

[code]
This was still a bit slower than online navie (which was expected) but is much faster than dataset concatenation

[2022-05-17 11:25] AntonioCarta commented on #1026
The documentation here is a bit misleading. Multi task LwF does work in the master branch, you need to use a model with a `MultiHeadClassifier`.

[2022-05-18 17:09] AntonioCarta opened #1030 "Last Issues to fix before release"
Guys, we have to fix the last few remaining things before the release. We have divided all the tasks among the core team. Please, try to close these in the next two weeks at most.

@vlomonaco
- [x] populate list of examples
- [x] create this FAQ
- [x] 5 minutes into a notebook
- [x] General update Avalanche website

@AndreaCossu
- [x] check apidoc evaluation & loggers
- [x] eval & loggers FZTH

@H

[2022-05-19 07:06] vlomonaco commented on #1030
very good thanks!

[2022-05-19 10:10] HamedHemati commented on #1030
@AntonioCarta I think you've tagged the wrong person for the examples.

[2022-05-19 10:26] AntonioCarta commented on #1030
fixed it ;)

[2022-05-24 06:05] ibnudaqiqil opened #1032 "Multiple GPU training"
How tu use torch.nn.DataParallel in training because 'DataParallel' object has no attribute 'feature_extractor' ?

[2022-05-26 12:45] ppppeng commented on #1018
i updated the code
    log_p = torch.log_softmax(out / self.temperature, dim=1)[:, au]
    q = torch.softmax(prev_out / self.temperature, dim=1)[:, au]
to
    log_p = torch.log_softmax(out[:, au] / self.temperature, dim=1)
    q = torch.softmax(prev_out[:, au] / self.temperature, dim=1)

and then run corretly.

[2022-05-27 12:19] AntonioCarta commented on #1018
Thanks for catching this. I will fix it.

[2022-05-27 12:20] AntonioCarta commented on #1032
we are working on distributed training support #996. Should be ready, in the next two weeks/one month. I'm closing since it is a duplicate.

[2022-05-27 12:20] #1032 closed

[2022-05-31 08:59] PabloMese commented on #1018
That was helpful. Thanks @ppppeng

[2022-05-31 23:29] hsalkhatib opened #1038 "Reproducibility of Results"
I ran the "Comprehensive Example" [https://avalanche.continualai.org/from-zero-to-hero-tutorial/07_putting-all-together#a-comprehensive-example](url), and the example produce different accuracy results with every run.
Is there an option to use a seed that will make results reproducible?

[2022-06-01 16:03] AndreaCossu commented on #1038
You can fix the seed at the beginning of the script like recommended by PyTorch for reproducibility. You can additionally pass the seed to the benchmark to ensure the stream stays the same. That should be enough :smile:

[2022-06-01 16:27] markNZed opened #1039 "README.md link to ContinualAI broken"
https://github.com/ContinualAI/avalanche/blame/master/README.md#L85 the link to ContinualAI is broken (empty)

[2022-06-01 16:44] vlomonaco commented on #1039
thanks fixed in https://github.com/ContinualAI/avalanche/commit/14adbf00d9efbc0b54b709bad400ba9791607f5c

[2022-06-01 16:44] #1039 closed

[2022-06-01 17:07] augustoolucas opened #1040 "Wrong info on the documentation - Classic Benchmarks shuffle parameter"
For SplitMNIST, SplitCIFAR, and SplitImageNet datasets (and probably others, I didn't check them all), the parameter `shuffle` is said to default to False, but on the code it actually defaults to True. I'd be happy to fix it, if you will.  Also, the links on _Edit on GitHub_ for these datasets are broken. I guess that's because now the docs are being generated from the docstrings, right?

https://

[2022-06-01 17:31] AndreaCossu commented on #1040
Thanks for catching this, you are right. We need to change this default in the APIDoc (@lrzpellegrini can you do this?).
I have to check for the Edit on GitHub button broken link, but I think it happens because we do not publish the generated documentation in the github repo. We may decide to remove the button altogether or publish the generated doc.

[2022-06-01 20:22] augustoolucas opened #1041 "Wrong classes labels on each experience?"
All the datasets of the experiences from SplitMNIST and SpliCIFAR10, with `n_experiences=5`, have only labels 0 and 1. Is this the expected behavior? I would expect the dataset of the first experience to have labels 0 and 1, the dataset of the second experience to have labels 2 and 3, and so on.

🐜 **To Reproduce**
[code]

[code]

🐝 **Expected behavior**
I expected the code above would print:
[cod

[2022-06-01 21:39] augustoolucas commented on #1041
Oh... I see it now, thank you so much!

[2022-06-02 02:50] hsalkhatib commented on #1038
Thank you again Andrea for your quick responses.

[2022-06-02 13:42] #1038 closed

[2022-06-02 13:42] #1041 closed

[2022-06-02 13:43] AndreaCossu commented on #1040
@augustoolucas since we are going to release an updated version of Avalanche quite soon I'll do this to speed things up, but thanks for volunteering, feel free to tackle any issue you may encounter (or to look in the opened issues here on github if you want to help :smile: )

[2022-06-02 16:02] PabloMese opened #1044 "Error while loading minibatch"
Hi everyone

What is the function `__getitem__(self, idx)` in class `ClassificationSubset` of file [dataset_utils.py](https://github.com/ContinualAI/avalanche/blob/f56ce189627effbb7b82bec5403326c9294027cf/avalanche/benchmarks/utils/dataset_utils.py#L243) supposed to return? Because I'm getting an error when indexing the `results` variable because value in position 1 is not an integer.

[2022-06-03 08:38] AntonioCarta commented on #1044
Classification datasets in Avalanche return triplets <x, y, t>, where x is the input, y, the label (integer), t the task label (integer, possibly fixed to 0 if task labels are not available).

[2022-06-03 10:23] #1013 closed

[2022-06-03 12:10] PabloMese commented on #1044
I'm working on a Multiple Instance Framework and I'm having troubles to load correctly the data. I got my Dataset and an iterable object for loading minibatches. How do you suggest to introduce this into Avalanche? Thank you very much

[2022-06-03 12:24] #1018 closed

[2022-06-03 12:29] #110 closed

[2022-06-03 12:31] #780 closed

[2022-06-03 12:31] #740 closed

[2022-06-03 12:31] #519 closed

[2022-06-04 06:22] niniack commented on #1023
Reflecting on the first draft of the implementation, there are a couple of things I think I'm missing and wanted to pick your (anyone's) brain about:

- What triggers the change in the optimizer's parameters? I don't think the optimizer is updating its parameters and I know I don't have to manually do it (at least according to the documentation)
- What is the major difference between the `model_ad

[2022-06-04 09:40] AndreaCossu commented on #1023
1. The optimizer is automatically reset after each experience in the `Supervised` template (avalanche/training/templates/supervised.py). You can check the `make_optimizer` method in the supervised template. In this way, if your model expands/changes its parameters after each experience, the change is taken into consideration by the newly created optimizer. This happens because `model_adaptation` i

[2022-06-06 12:40] Yasir-Ghunaim opened #1050 "Deprecated in NumPy 1.20"
Greetings,
I'm using the conda environment specified here: https://avalanche.continualai.org/getting-started/how-to-install

When I run the "Quick Example" from the Github README.md, I get the following deprecation warning messages:

[code]

The training runs fine but I just thought to report these warning messages. Let me know if you need more details and thank you for creating this amazing frame

[2022-06-06 12:45] AndreaCossu commented on #1050
thanks for reporting. The warning is raised by Tensorboard so the best thing to do would be to update the tensorboard version, if this does not break anything else :smile:

[2022-06-07 09:45] #1050 closed

[2022-06-07 09:59] AndreaCossu commented on #1044
For the `AvalancheDataset` you can define a custom `collate_fn` function which is used when slicing the dataset to stack more than 1 sample. Maybe you can build the `AvalancheDataset` out of your `Dataset` and then put the iterable object's logics inside the `collate_fn`.

[2022-06-07 17:28] AndreaCossu opened #1054 "COPE does not work anymore"
The COPE strategy is not working on the Split MNIST benchmark on which it was originally tested (it achieves a performance around 20% accuracy instead of 94%).
After some experiments, I figured out that the commit producing the regression is: e149678ca5d467671fc7800c18633f3678d74d8d (July 28, 2021 with title "COPE fix, only train 1 iteration per batch")

This commit introduced two major changes:

[2022-06-08 16:19] AndreaCossu opened #1055 "Compatibility with Python 3.10"
Check for the compatibility of avalanche with py3.10

[2022-06-09 07:02] AndreaCossu commented on #1054
I added a warning for COPE in #1055
The bug still needs to be fixed

[2022-06-11 08:36] inder2 opened #1060 "why colab hav version !pip install avalanche-lib==0.2.0"
dont understand why example notebook have version 0.2.0 which not exists....?

[2022-06-12 09:47] AndreaCossu commented on #1060
sorry about that, we are going to release the 0.2.0 in the next days, notebooks are already updated. You can either use `0.1.0` or wait a couple of days for 0.2.0 to be released :smile:

[2022-06-13 12:22] AntonioCarta opened #1061 "ADD methods to apidoc"
We would like to have methods documented in the apidoc. The main roadblock right now is that the doc building is killed due to excessive time/memory consumption.

See #1059

[2022-06-13 12:38] lrzpellegrini commented on #1061
I just tested adding the -j auto option in the docs Makefile as follows:

[code]

This greatly speeds up things! I may try adding a new commit to #1059 and see if it works...

[2022-06-14 08:06] AndreaCossu opened #1062 "Setuptools not working with extra dependencies file"
Currently, the extra dependencies are specified within `setup.py`. We have an external file `extra_dependencies.txt` plus a function `get_extra_requires` that do the same job and makes dependencies more easily maintenable. Unfortunately, when using this latter configuration, the `python -m build` command required to build the pip package returns a `FileNotFound` error related to `extra_dependencie

[2022-06-14 15:10] ggraffieti commented on #1060
Hi @inder2, the version 0.2.0 has just been released, so now all the notebook should work!
Let us know if there are other problems :+1:

[2022-06-15 13:52] AndreaCossu commented on #1062
I think this should work perfectly!

[2022-06-15 16:29] #1062 closed

[2022-06-16 09:59] niniack commented on #1023
Thanks,

1. I got a chance to look at the source file and I see where the optimizer get's updated!
2. I see, thanks for the clarification

After I wrote my initial questions, I did some more documentation + source code digging and cleared up some of the doubts. Your comments + my reading helped me figure it out!

[2022-06-16 10:49] matkowski-voy opened #1070 "continual learning cycle - how to continually train models on "future" data?"
Hi Everyone,

First, thanks for the Avalanche, I think it is a great library to experiment with many CL methods.
This is rather general issue probably related to this one: #1016.

In many real continual learning use cases, we don't have all data at the same time but rather than they are coming at different times in future. Thus, fixing a dataset, dataloaders, scenarios and CL strategy in the "begi

[2022-06-18 17:18] AntonioCarta commented on #1070
I don't completely understand what you want but I think it's doable. In Avalanche you can:
- start a strategy from a pretrained model (e.g. `strat = Naive(model_a, ...); strat.train(new_stream)`.
- create a stream by combining different datasets, so if you need a non-standard benchmark you can make it.

[2022-06-20 05:34] matkowski-voy commented on #1070
Hi Antonio, thanks for the answer.
I tried to keep my question as general as possible, sorry if that makes some confusion. So here, to clarify in one particular example I attached the code with exp1 (avalanche use case training in a loop) and exp2 (my use case).
`import torch
from torch.utils.data import TensorDataset
from avalanche.training.strategies import BaseStrategy
from avalanche.training.p

[2022-06-20 17:20] Nyderx opened #1073 "Issue with class-incremental SI and LwF"
Hi!

We are currently trying to use Avalanche in our research, as it looks like an amazing tool providing a lot of ready-to-use tools. However, we encountered some issues that stopped us from moving further.

Our goal is to work with class-incremental scenarios. We experimented on MNIST, built in two different ways - using `SplitMNIST` benchmark and building a benchmark leveraging `nc_benchmark` m

[2022-06-24 10:44] 3koozy opened #1074 "why Avalanch takes longer time per epoch for a subset of the dataset (experience) ?"
🐛 **Describe the bug**
why continual training takes a long time per epoch for a subset of the dataset (experience) ?
I am fine-tuning an EffcientNet_b4 model on my dataset using joint training (without avalanche) and it takes less than 20 seconds
to go over the entire dataset (UC Merced) per epoch.

but when I use a new class scenario with the naive strategy it takes over 1 min to finish 1 epoch o

[2022-06-24 11:47] HamedHemati commented on #1074
Hi,

It makes sense that Avalanche is slower than a regular training code. The main reason is the template-based training with predefined callbacks that Avalanche uses. This means you have many more callbacks in Avalanche for every update step, enabling you to add arbitrary plugins after any step of the update process for more flexible and faster idea development. However, I wouldn't expect such a

[2022-06-24 14:00] lantao1234 commented on #774
When i create a paths_benchmark, the function have the same problem.

AttributeError: 'GenericCLScenario' object has no attribute 'n_classes_per_exp'

[2022-06-24 14:55] 3koozy commented on #1074
Hi there @HamedHemati , thank you for the prompt support :).
I tried to make a reproducible code of the issue and to no surprise, I think I figured out where the bottleneck ^^".
it turns out using evaluator plugins only adds a couple of seconds to the loop, but the real issue was when I tried to use logging on a mounted Google drive folder ^^". the epoch period is almost 4x the original and takes

[2022-06-24 15:13] AndreaCossu commented on #1074
Hi @3koozy , the mounted Google drive folder may definitely be the answer if you choose a different logging frequency in Avalanche with respect to your original code. For example, if you save to disk every iteration with Avalanche while you save only after each epoch with your code that produces many more disk access operations.
One solution may be to use only coarse grained metrics (saving stuff

[2022-06-24 15:35] 3koozy commented on #1074
Hi @AndreaCossu , thanks for the tip :).
I was really thinking about your second solution (save locally and push remotely later) as the answer here.
But I am interested in how can I change the logging frequency (only after epoch/experience) using avalanche built-in methods ?
or do I have to write my own?

[2022-06-26 07:02] lantao1234 opened #1075 "CUDA out of memory in iCaRL strategy"
when i use the dataset with 10k or more images in the icarl strategy, i always  meet with the fault "CUDA out of memory".

When i check the official code of the iCaRL strategy, i found the "construct_exemplar_set" function will result in the "CUDA out of memory".  I think it may be  too risky to read all of the dataset and forward the model.feature_extractor. Anyone can help me? thu

official code

[2022-06-26 14:49] 3koozy commented on #1074
Also, I wanted to add that after removing the per MB option for all the metrics, Diskusage metrics and timing metrics performance substantially improved.

[2022-06-27 12:25] AntonioCarta commented on #1074
It makes sense because you are logging much more values with MB metrics.

[2022-06-27 12:26] AntonioCarta commented on #1075
You are right, `class_patterns` should be generated via small mini-batches to avoid OOM. It should be easy to fix if you want to try.

[2022-06-27 12:28] AntonioCarta commented on #1073
we have [reproducibility scripts](https://github.com/ContinualAI/continual-learning-baselines) for SI and EWC in task-incremental settings. It is known from many results in the literature that they do not work well without task labels.

[2022-06-27 12:31] AntonioCarta commented on #1070
exp2 is wrong. In the second `train` call you use a `ReplayPlugin`, but the buffer is empty because it has never seen the first experience.

[2022-06-27 12:38] HamedHemati commented on #1073
Follow-up comment on @AntonioCarta's:
Here is a paper showing that SI and LwF almost fail in class-incremental scenarios for Split-MNIST:
https://arxiv.org/pdf/1904.07734.pdf

![Screenshot 2022-06-27 at 14 30 29](https://user-images.githubusercontent.com/11629528/175942903-952beea8-a191-4353-a0bb-d779af106b5e.png)

By changing your architecture to the one used in the CL baselines repository, you m

[2022-06-29 12:21] dominik1102 commented on #1073
I’m working with @Nyderx
In my case I'm using the same ds (mnist). And my results are the same as above when I;m using nc_benchamrk method. But in the case of dataset_benchmark the results are different (pls see attachment).  In my opinion in both cases : nc_benchmark or dataset_benchmark the results should be exactly the same  but they are not (regardless if we add labels or not).
Interesting thi

[2022-06-29 16:36] AntonioCarta opened #1078 "ADD Sequence Datasets"
@AndreaCossu

[2022-06-29 16:37] AntonioCarta opened #1079 "ADD Meta Learning Template"
@HamedHemati

[2022-06-29 16:37] AntonioCarta opened #1080 "ADD BiC"
@JuliousHurtado

[2022-06-30 13:54] #1030 closed

[2022-06-30 13:54] #325 closed

[2022-06-30 14:58] AndreaCossu commented on #1078
I will add the [Speech Command dataset from torchaudio](https://pytorch.org/audio/stable/datasets.html#speechcommands) and provide a basic example usage with the `nc_benchmark`.
Torchaudio will become an optional dependency within the `extra` package.

[2022-06-30 16:13] AntonioCarta commented on #1073
Can you summarize your results here and why you think they are wrong?

[2022-07-01 08:20] AndreaCossu opened #1081 "Dataloaders in strategy do not use custom collate"
While working on #1078 I noticed two issues.

1. it is not possible to provide a custom collate function (neither `collate_mbatches` nor `collate_fn`) to the dataloaders of a strategy, neither at training, nor at test time, since in the `SupervisedTemplate`, the `make_train/eval_dataloader` methods do not forward the `**kwargs` to the dataloader.
2. The `nc_benchmark` wraps the input dataset into

[2022-07-01 09:04] dominik1102 commented on #1073
@AntonioCarta Thanks for your response.

First of all let’s focus on SI and EWC
As you @Nyderx  showed and as you can see in my result, when we create benchmarks through the usage of nc_benchamark method without task_label in the case of SI and EWC we observe catastrophic forgetting.
But in the case of dataset_benchmark without task_labels we don’t observe such catastrophic forgetting. But in my o

[2022-07-01 09:08] AndreaCossu commented on #1073
Hi @dominik1102 , I agree that the results should be the same if you build the benchmark with `nc_benchmark` or `dataset_benchmark`. Can you post here a small script reproducing the behavior? In particular, the code creating the `dataset_benchmark` may be useful.

[2022-07-01 09:11] dominik1102 commented on #1073
@AntonioCarta in my previous post (two above) there is a script and result- you can simply reproduce this. In any doubt let me know.

[2022-07-01 09:17] AndreaCossu commented on #1073
Code looks fine, I am wondering if the difference is only in the metric names when you use task labels. Can you print here the output of the TextLogger when you are using the `dataset_benchmark` generator? Take in consideration that metrics will be split by task in that case.

[2022-07-01 09:21] dominik1102 commented on #1073
sure I'll do this asap.

[2022-07-01 21:56] HamedHemati opened #1083 "AvalancheSubset does not replace original transformations"
When creating a subset of a dataset using `AvalancheSubset` with a new tranform, the old (original) transform is not replaced with the new one, but instead, the new transform seems to be concatenated to the original transform. Here is a simple example code to reproduce the issue:

[code]
Now if we print `ds_subset[0]`, the input tensor values should be 1.1, but we get 2.1:

Input:
[code]

Output:

[2022-07-02 20:57] HamedHemati commented on #1079
As discussed in the previous meeting, creating new templates with the current structure will result in lots of code duplicates. For example if we want to have a separate template for meta-learning based strategies we will probably need at least two different templates like `MetalearningTemplate` and `OnlineMetalearningTemplate` where most of the code is shared with other SGD-based strategies. To a

[2022-07-03 11:04] radandreicristian opened #1084 "[Docs] "From Zero to Hero" Broken Link in Docs"
🐛 **Describe the bug**
In the [Contribution Guidelines](https://avalanche.continualai.org/how-to-contribute/guidelines), the link to the tutorial is broken.

🐜 **To Reproduce**
 * Go to the [Contribution Guidelines](https://avalanche.continualai.org/how-to-contribute/guidelines) page.
 * Click the link below the second paragraph.
 * It redirects you to a GitHub 404.

🐝 **Expected behavior**
It sho

[2022-07-04 07:13] AndreaCossu commented on #1084
Thanks for spotting this @radandreicristian ! We modify directly that part of the website with a GUI in the browser, so no need to open a PR. I fixed the link :smile:

[2022-07-04 08:19] AntonioCarta opened #1086 "Speed up rehearsal buffers for Online CL"
See #1082 for a benchmark.

[2022-07-04 08:23] AntonioCarta commented on #850
We have an open PR #996, but we still need to test it more in depth. It should be ready for the next release but it's a big and complex feature so many things may go wrong. If you want to use avalanche with distributed training, for the moment I would suggest to define your own distributed training loop (doesn't have to be an avalanche strategy), where you call the benchmarks, models, and training

[2022-07-04 08:28] AntonioCarta opened #1087 "Accuracy in multi-task scenarios"
I'm doing some experiments with multi-task scenarios. Right now Avalanche splits accuracy by task, but I find this a bit inconvenient. For example, I would like to have a single stream accuracy (averaged over tasks) but this is not what Avalanche gives. Notice that in the common scenario (different task for each exp) the ExpAccuracy already gives the task-accuracy.

I think the ideal solution woul

[2022-07-04 08:33] AndreaCossu commented on #1087
I agree. We already encountered the problem you mentioned with @vlomonaco . An easy fix would be, whenever the stream accuracy metric is defined, to always return the average across all experiences, since that is usually what the user was looking for. In most cases, task-aware settings are used just for training and not for evaluation.
The `EvaluationPlugin` can recognize if the benchmark is task-

[2022-07-04 08:41] AntonioCarta commented on #1087
Ok, I will work on this since I need it now ;)

[2022-07-04 09:55] dominik1102 commented on #1073
@AndreaCossu

here you are txt logs :
[logs_without_task_labels.zip](https://github.com/ContinualAI/avalanche/files/9038358/logs_without_task_labels.zip)

Moreover I took a look on TensorboardLogger but the traning process looks fine.

[2022-07-04 10:48] AndreaCossu commented on #1073
After a quick look I think the problem is related to the targets of the dataset of each experience. You can see it by printing them with this code:

[code]

If you use task labels but no multihead, ensure that targets are in [0,9]. With `SplitMNIST` you get targets in [0,1] with task labels activated, but with `dataset_benchmark` you should be able to use the full set of targets (take a look in th

[2022-07-04 16:23] Nyderx commented on #1073
Thank you for all your help. We hope to have a long and successful adventure with Avalanche :)

Dominik will tomorrow provide the output you asked for.

I am a little confused right now - probably partially because we have some experience with the topic, but we still miss a few things.

Considering that we want to work in class-incremental scenarios:
1. Does it mean that the only choice for us is

[2022-07-04 16:57] AndreaCossu commented on #1073
1. In class-incremental scenarios you do not have task label available, hence you either work with a single-headed model or you work with a multi-head model but you have to actively infer task labels, since the environment will not provide that.
2. The target range depends on the head, if you use a single head you need targets in the range 0, n_classes-1 (0-9 for split MNIST). If you use a multihe

[2022-07-05 15:11] dominik1102 commented on #1073
1. SplitMNIST with return_task_id=True --> [0, 1]
2. SplitMNIST with return_task_id=False --> [0, 9]
3. nc_benchmark with task_labels=True -> [0, 9]
4. nc_benchmark with task_labels=False -> [0, 9]
5. dataset_benchmark  with task_labels=True --> [0, 1]  <- task_labels are provided though the usage of AvalancheDataset with task_lables flag
6. dataset_benchmark  with task_labels=False --> [0, 1]

So

[2022-07-06 19:18] 3koozy opened #1088 "how to see MB labels while training ?"
Hello to you all,
I am trying to use contrastive functions with avalanche and it's very important to include diverse classes in each minibatch as well as multiple samples per class (for similarity and dissimilarity between classes in latent space).

I have configured the strategy to use class-balanced data loaders and tried to use a mini-batch size larger than num_classes.

but is there any way to

[2022-07-08 08:25] AndreaCossu commented on #1073
1. Exactly, the `nc_benchmark` needs to be explicitly said the kind of targets you want. If you do not specify anything, it will use the entire set of targets. With `class_ids_from_zero_in_each_exp=True` you replicate the setup of `SplitMNIST(return_task_id=True)`.
2. For dataset benchmark, the labels are taken from the AvalancheDataset. So, if you take the original MNIST train, wrap it into Avala

[2022-07-08 08:56] AndreaCossu commented on #1081
Fixed in #1089

[2022-07-08 08:56] #1081 closed

[2022-07-08 08:56] #1078 closed

[2022-07-08 10:53] 3koozy commented on #1088
can someone help me please

[2022-07-08 10:58] vlomonaco commented on #1088
Hi @3koozy!

by default mini-batches in Avalanche have the form <x, y, ..., t> with arbitrary additional tensors between y and t. See the example here: https://github.com/ContinualAI/avalanche/blob/master/examples/dataloader.py#L40-L48

[2022-07-11 13:38] AntonioCarta commented on #1083
Is this a bug? I would expect transformations to compose together, not to replace each other.
@lrzpellegrini what is the expected behavior here?

[2022-07-12 06:55] ema-marconato commented on #774
Is still an open issue?

[2022-07-12 15:35] HamedHemati commented on #1083
There are cases where you need to assign a new set of transformations to a subset of an existing dataset and concatenating would not be possible (because of the order in the transformation list). IMO assigning transformations would make things easier in general. Composing them can be done manually first and then assigned for the subset.

[2022-07-12 15:52] AntonioCarta opened #1093 "bug for stream-level metrics in periodic eval"
periodic eval is broken in some subtle cases. Instead of calling `eval` on the entire stream, it calls it multiple times for each experience, breaking stream-level metrics.

Reproduce:
[code]

outputs:
[code]

which means it's calling `eval` two times instead of a single one with the entire stream.

[2022-07-12 15:54] AntonioCarta commented on #1083
I understand that this is a reasonable use case, but I think we already cover it. Can you use `replace_transform` to do this?

[2022-07-13 16:04] #1083 closed

[2022-07-15 14:10] ema-marconato opened #1094 "JointTraining strategy does not shuffle the whole dataset when picking minibatch"
So I noticed that when calling JointTraining on a `dataset_benchmark` the mini-batches are not iid w.r.t. the whole datasets. Any clue on how to solve the issue?

[2022-07-17 13:31] AndreaCossu commented on #1094
From a quick look at the code I think the mini-batches should be shuffled since `shuffle=True` by default in the dataloader creation. Can you please provide a quick script to verify your results? I can start from there and help you out :smile:

[2022-07-19 12:30] #1088 closed

[2022-07-19 12:32] #1044 closed

[2022-07-20 09:37] matkowski-voy commented on #1070
Hi Antonio,

Thanks for answering :)
Please take a look

A: "In the second train call you use a ReplayPlugin, but the buffer is empty because it has never seen the first experience"
W:  then, how can I create and pass the buffer from the first experience to the second one without defining the training strategy at the beginning and running the for loop?

A: "exp2 is wrong."
W: I am not sure what yo

[2022-07-21 14:13] AntonioCarta commented on #1070
- you can use lazy streams/iterators, so you case (1) is somewhat supported.
- what is not supported yet is serialization, so you cannot stop a strategy, save it in memory, and restart at a later time. We are working on adding support for serialization.

[2022-07-27 09:12] alaa-shubbak opened #1098 "ImportError: 'make_lvis_metrics'"
🐛 **Describe the bug**
A clear and concise description of what the bug is.
I got this error message:

`ImportError: cannot import name 'make_lvis_metrics' from 'avalanche.evaluation.metrics' `

while running one of your examples mentioned in this link: https://avalanche.continualai.org/examples/training

🐜 **To Reproduce**
A [minimal working example](https://en.wikipedia.org/wiki/Minimal_working_e

[2022-07-27 11:32] matkowski-voy opened #1099 "in EWC the penalty is 0"
🐛 **Describe the bug**
A clear and concise description of what the bug is.
Currently in [EWC ](https://github.com/ContinualAI/avalanche/blob/master/avalanche/training/plugins/ewc.py)plugin the penalty is always 0
[code]

because `cur_param` is equal to `saved_param` in the penalty from computation `penalty += (imp * (cur_param - saved_param).pow(2)).sum()`

[2022-07-27 14:31] AntonioCarta commented on #1099
you are right. It should be `cur_param = cur_param[:n_units]`

[2022-07-27 14:51] AndreaCossu commented on #1099
We need to fix this and make a new release asap

[2022-07-27 20:16] Aritro-94 opened #1100 "PNNStrategy model top_1_acc is poor in older test_stream experiences."
`benchmark = SplitMNIST(n_experiences=2, shuffle=True,return_task_id=False)
`
`model = PNN()
``cl_strategy = PNNStrategy()
`
After training on both the experiences in train_stream using the continuous learning strategy, the model has good Top_1_Acc in the corresponding latest test_stream experience, but has almost 0 accuracy in the previous test_stream experience

The result of `cl_strategy.eval(b

[2022-07-27 20:22] AntonioCarta commented on #1100
This is correct. PNN need task labels. Without them, the model does not work.

[2022-07-27 20:22] #1100 closed

[2022-07-27 21:11] Aritro-94 commented on #1100
In production the task label will not be obtainable. Could you suggest which model to use which learns incrementally without task_id.

[2022-07-29 07:36] dalbertweiss opened #1103 "Storing all evaluation scores for each epoch in an experience in CSVLogger"
Hi together,
my aim is to reproduce the phenomena of catastrophic forgetting. This is also something I was able to reproduce or see when logging the results to CSVLogger. Here you see quite nicely that the metric scores goes down again while the loss goes up for dataset1 while the loss is going up again.

However, if I see it corretly ```eval_results``` only stores the evaluation scores for the la

[2022-07-29 08:23] AndreaCossu commented on #1103
Hi @dalbertweiss, consider that if you use the `TensorboardLogger` and monitor the epoch accuracy you have the plot you mention for free. If you want to make a custom one, I would recommend to use the metric dictionaries returned by the train and eval methods which contain all the metrics computed during the execution of that method.
You can always access all the metrics computed so far by calling

[2022-07-29 08:33] #1099 closed

[2022-07-29 08:44] AntonioCarta commented on #1100
Replay is the safest choice.

[2022-07-29 12:14] dalbertweiss commented on #1103
Perfect that was exactly what I was looking for!

[2022-07-29 12:14] #1103 closed

[2022-08-01 08:36] DWarez opened #1104 "`classes_in_experience` doesn't return an unique set of tensors"
🐛 **Describe the bug**
As the title says, the property `classes_in_experience` of the class `GenericCLScenario` doesn't return an set of unique tensors containing
the labels of the experience's patterns. Instead, the set contains ALL the tensors of the experience's patterns.

🐜 **To Reproduce**
I cannot provide the exact code that generates the bug because it's under a NDA. I will try to obtain a

[2022-08-02 05:53] matkowski-voy opened #1106 "Memory Replay increased GPU memory consumption after the first experience"
Hi,

I am not sure if this is expected behavior when I run experiment with Memory Replay plugin only, but after the first experience the GPU memory usage is increased (in my case, quite significantly) as per nvidia-smi.

**training on first experience (experience 0) memory usage:**
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 410.129      Driver Vers

[2022-08-02 15:27] AntonioCarta commented on #1106
Do you have a script to reproduce this problem? what happens in the following steps? Is the memory growing continuously?

[2022-08-02 16:05] matkowski-voy commented on #1106
The code is below:
There are 2 experiences in the data stream and
- during first experience the GPU memory usage is  ~4GB
- and then during second experience the GPU memory usage is  ~7GB
So while running the code below I just check this GPU usage manually by running nvidia-smi
[code]

[2022-08-16 07:37] HamedHemati commented on #1106
Hi @matkowski-voy !
The batch size for the replay dataloader is equal to `2 x batch_size` by default because it concatenate two batches of the same size, one from the main dataloader load and one from the memory; this could be the reason for the increase in the memory usage. You can change the default setting with the following parameters when initializing the replay plugin:
`ReplayPlugin(mem_size

[2022-08-16 07:56] HamedHemati commented on #1098
Hi @alaa-shubbak !

Did you install avalanche with the detection packages, i.e. `pip install avalanche-lib[detection]`?
Have a look at here the link below for more details:
https://avalanche.continualai.org/getting-started/how-to-install

[2022-08-16 19:20] alaa-shubbak commented on #1098
Thank you for your answer.
I did the install of all packages using this instruction:

`pip install avalanche-lib[all]`

but i got the following error:

`ImportError: cannot import name 'LvisDataset' from 'avalanche.benchmarks.datasets'`

[2022-08-18 08:47] matkowski-voy commented on #1106
Hi @HamedHemati ,

yes, that solves the issue.

Thanks a lot! :)

[2022-08-18 10:17] HamedHemati commented on #1098
@alaa-shubbak  It seems like `lvis_dataset` is not included in `avalanche.benchmark.dataset` imports. Can you change the following import line in the `detection_levis` example:
`from avalanche.benchmarks.datasets import LvisDataset` -> `from avalanche.benchmarks.datasets.lvis_dataset import LvisDataset`

and check if it works?

[2022-08-19 01:32] alaa-shubbak commented on #1098
hello ,
thanks for your response.

i did the change in detection_levis as you mentioned. but unfortunatily , i still get the same first error of

[code]

any another suggestion

[2022-08-19 08:49] HamedHemati commented on #1098
@alaa-shubbak This is a different error related to metric imports which we need to fix.
If you want to run the code you can remove `make_lvis_metrics` from `from avalanche.evaluation.metrics import (...)` and add a new import line as below:
`from avalanche.evaluation.metrics.detection import make_lvis_metrics`
I tested it and it works.

@lrzpellegrini `make_lvis_metrics` which is supposed to retur

[2022-08-21 18:18] alaa-shubbak commented on #1098
Thank you very much , It is working.

I have two different dataset with different classes (categories). and i would like to use such structure to develop a model for my dataset. so i can teach my model (deep neural network ) on both classes to have a model that being able to detect all classes within a third small dataset.
I would like to ask if i can have a guide book , repository or pdf or any s

[2022-08-23 11:13] #1106 closed

[2022-08-23 14:10] Nyderx commented on #1073
@AndreaCossu, @AntonioCarta, thank you for your help! It seems that we were able to learn more and get the expected results. We will probably have more questions for other things, but we will ask them on slack :)

Thank you also for your work on the library :)

[2022-08-23 14:10] #1073 closed

[2022-08-30 02:30] SinHanYang opened #1114 "Evaluate test_stream after every training epoch"
### Discussed in https://github.com/ContinualAI/avalanche/discussions/1111

<div type='discussions-op-text'>

<sup>Originally posted by **SinHanYang** August  8, 2022</sup>
Hi, I tried to evaluate the model on all experiences after every epoch.
I did experiment on `CIFAR10` dataset, and made scenario from `nc_benchmark`:
[code]

Second, I set `eval_every=1` in the strategy:
[code]
And I assigned e

[2022-09-01 22:46] tachyonicClock opened #1115 "LwF under performs"
🐛 **Describe the bug**
After struggling to tune LwF to perform better than naive in my experiments I decided to validate that LwF worked at all. I discovered that LwF appears to be broken. I'm not having much luck fixing it and was wondering if anyone has any ideas.

[code]

Since I don't think https://github.com/ContinualAI/continual-learning-baselines is particularly actively maintained, I tried

[2022-09-02 07:01] AndreaCossu commented on #1115
Hi @tachyonicClock , which version of Avalanche are you using?

[2022-09-02 07:06] tachyonicClock commented on #1115
The most recent version. I pulled from master

[2022-09-02 07:15] AndreaCossu commented on #1115
Ok thanks, I will take a look at that and keep you updated!

[2022-09-02 07:38] matkowski-voy opened #1116 "LwF gradient backpropagation"
Hi,

I think that in LwF plugin in the penalty computation the gradient doesn't flow correctly in some cases
[code]
- it seems to be ok for `else:  # no task labels` because `out` is already computed but if I would do something like ` y_curr = {"0": curr_model(x)}` then it wouldn't work.
- so this is actually the case for `if isinstance(self.prev_model, MultiTaskModule):`, where `y_curr['0'].requi

[2022-09-02 07:42] AntonioCarta commented on #1116
you are correct, this is a bug

[2022-09-02 07:50] AndreaCossu commented on #1116
I changed that part of code with the following one, but the final accuracy is still lower than expected.

[code]

[2022-09-02 07:53] AndreaCossu commented on #1116
Oh right, the change above applies only to `MultiTaskModule`, so I guess that is still a useful fix. There may be another problem for single-headed models, too.

[2022-09-02 09:31] matkowski-voy commented on #1116
another thing is whether the `self.prev_model` should be `.train()` or `.eval()` because currently it is in the training mode so it would affect batch norm and dropouts for example and thus knowledge distilled will be different.

[2022-09-02 16:21] AndreaCossu commented on #1115
@tachyonicClock LwF performs on par with the paper above if the LwF penalization grows over time and the cross-entropy contribution diminishes over time. Since this is not a LwF dependant choice, in the continual-baselines we did not add the cross-entropy weighting. Adding it closes the gap with the expected performance. Let me know if you have any further questions :smile:

[2022-09-06 07:11] matkowski-voy opened #1119 "How to initialize (load) multi-task model with multi-head classifier?"
Hi,

**Training**
I initialize `net=MTSimpleCNN()`  and train this multi-task model with multi-head classifier on two tasks (one task per experience). After training the model has two heads.
I save the model this model's state dict using standard pytorch  `torch.save({'state_dict': net.state_dict()}, filename).` and I want to evaluate it later using a different script.

**Evaluation**
I newly init

[2022-09-06 08:32] AntonioCarta commented on #1119
You have to adapt the architecture before using `load_state_dict`. Here is how I do it:
[code]

I'm leaving this issue open because we should provide this functionality somewhere.

[2022-09-08 09:17] matkowski-voy opened #1121 "distillation loss is zero in LwF plugin for multi task module"
Hi,

It is related to #https://github.com/ContinualAI/avalanche/issues/1116
I think there is still something wrong because the `dist_loss ` is zero.
It seems that for the case where `isinstance(self.prev_model, MultiTaskModule)` is True, `task_id in self.prev_classes:` is always False and thus `dist_loss` is always zero.

I think because the `task_id` is `int` whereas in `self.prev_classes`, the k

[2022-09-13 23:24] tachyonicClock commented on #1115
Huge thanks for getting back to me so quickly. Not quite the answer I was hoping for, but it is what it is :D

[2022-09-13 23:24] #1115 closed

[2022-09-14 10:20] ContinualAI-bot opened #1123 "Creation of a new envirnment failed for python 3.1"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-09-14 10:20] ContinualAI-bot opened #1124 "Creation of a new envirnment failed for python 3.6"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-09-14 10:20] ContinualAI-bot opened #1125 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-09-14 10:20] ContinualAI-bot opened #1126 "Creation of a new envirnment failed for python 3.7"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-09-14 10:21] ContinualAI-bot opened #1127 "Creation of a new envirnment failed for python 3.8"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-09-16 11:41] Melika-Ayoughi commented on #774
I have the same problem with ego objects benchmark and icarl. Is it still not fixed?

[2022-09-20 10:15] radandreicristian opened #1128 "Add support for text datasets"
Hello!

I would like to suggest adding support for text datasets, for NLP. As I am planning to implement and use some of them for my own research anyway, I thought adding them to the Avalanche library could be beneficial for the community.

If this is something compatible with the current roadmap/plans, I would be happy to contribute.

Some datasets:

- [Lifelong Learning for Language Models](http

[2022-09-20 11:58] AntonioCarta commented on #1128
Hi @radandreicristian, this is an important issue. We do some research on text datasets at UNIPI, so we are definitely interested in its support. Currently:
- I'm working on refactoring Avalanche datasets to make them more and abstract the details specific to supervised image classifications tasks #1118
- @AndreaCossu did some work using [pretrained language models](https://arxiv.org/abs/2205.0935

[2022-09-21 08:33] NareshGuru77 opened #1129 "Speed comparison with other frameworks"
Hello!

I am moving from mammoth (https://github.com/aimagelab/mammoth) repository to avalanche.

I notice than the mammoth repository is generally faster than avalanche under the same experimental settings, cpu and gpu.

In order to understand whether this issue comes from my use of avalanche or there are issues in avalanche itself, I was wondering whether a timing comparison has been made with o

[2022-09-21 09:14] vlomonaco commented on #1129
Dear @NareshGuru77, thanks for considering using **Avalanche** for your work!

From my understanding Mammoth is more limited than Avalanche in terms of offered functionalities and hence less complex in terms of codebase. It makes sense that for some vertical experiments it may be faster. However, I'm not aware of any benchmark analysis in terms of efficiency.

Maybe if you can share your code or p

[2022-09-21 16:23] ContinualAI-bot opened #1131 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-09-21 16:23] ContinualAI-bot opened #1132 "Creation of a new envirnment failed for python 3.8"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-09-21 16:24] ContinualAI-bot opened #1133 "Creation of a new envirnment failed for python 3.1"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-09-21 16:26] ContinualAI-bot opened #1134 "Creation of a new envirnment failed for python 3.6"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-09-21 16:28] ContinualAI-bot opened #1135 "Creation of a new envirnment failed for python 3.7"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-09-26 18:18] m-resta commented on #1128
Hello!
Thanks for your response, I'd like to also ask to consider adding support for hugging face datasets, both for translation/text classification.
The underlying datasets in hf library are based on Apache Arrow. Generally speaking, each item in the dataset is a dictionary e.g:
`{'label': 1,
 'text': 'the rock is destined to be the 21st century\'s new " conan " and that he\'s going to
 make a sp

[2022-09-27 13:53] zhaoxiongjun opened #1136 "task_incremental can't use "JointTraining" strategy as multitask"
🐛 **Describe the bug**
I use the [avalanche](https://github.com/ContinualAI/avalanche)/[examples](https://github.com/ContinualAI/avalanche/tree/master/examples)/task_incremental.py code, and change the strategy  to "JointTraining", the follow error is occurs: `AttributeError: 'AvalancheSubset' object has no attribute 'dataset'`

🐝 **Expected behavior**
When I commented the code `model = as_multita

[2022-09-29 14:04] HamedHemati commented on #1136
Hi @zhaoxiongjun !

I tested your code with the master branch, and it works fine. It seems like it was an issue in version 0.2.0.

Which version are you using?

[2022-09-30 01:25] zhaoxiongjun commented on #1136
Oh yes, it is indeed a version issue. I am playing with it on Google Colaboratory from official documentation. The version installed inside is 0.2.0.

[2022-09-30 01:31] zhaoxiongjun commented on #1136
Hi, @HamedHemati ,
Sorry, I have another question to ask you, that is, for the task incremental scenario (each task has a different label category), is it possible to use the "JointTraining" strategy and with the "as_multitask" function as the upper bound of performance.

[2022-10-01 17:42] 3koozy opened #1137 "evaluation metric compute wrong average accuracies?"
🐛 **Describe the bug**
during several experiments, I have noticed some strange log files like below, where individual per experience evaluation accuracy is computed but computes the wrong average :
-----------------------------------------------------------------------------------------------------------
-- >> Start of eval phase << --
-- Starting eval on experience 0 (Task 0) from test stream --

[2022-10-03 14:01] AntonioCarta commented on #1137
The average is over the samples of the entire stream. As a result, if the experiences have different size, averaging the experience average accuracy returns a different result.

[2022-10-03 19:21] #1137 closed

[2022-10-03 19:22] 3koozy commented on #1137
thx , as simple as it sounds this seems to explain it :)

[2022-10-03 19:28] 3koozy opened #1138 "I am not able to train a classifier with GenarativeReplay"
Hello guys , I hope everyone is doing alright :)
**I tried training an MLP classifier of SplitMNIST with GenerativeReplay from what I understood from the docs as follows:**

----------------------------
[code]
----------------------------

unfortunately, my classifier had 100% forgetting and it seems the generative Replay didn't work.
----------------------
[code]
----------------------

**can you

[2022-10-03 23:47] manuel-delverme opened #1139 "Homepage demo is outdated"
https://avalanche.continualai.org/

[2022-10-04 07:16] AntonioCarta commented on #1138
We have an open PR from travela in the [stable-continual-learning](https://github.com/ContinualAI/continual-learning-baselines/pull/28) repository. You can check his parameters.

[2022-10-04 18:57] 3koozy commented on #1138
thx this helps a lot. I managed to get to work on mnist but no luck so far on splitCIFAR10.
perhaps a VAW model with some CNN layers can help ?

[2022-10-05 09:58] AntonioCarta commented on #1138
Unfortunately generative replay is hard to work with and there is not much we can do in Avalanche to improve this. Improving the VAE will surely improve the performance.

[2022-10-05 09:58] #1138 closed

[2022-10-06 09:03] irfanfadhullah opened #1141 "Different combination of input"
Is it possible to change the input or feature for classification.
For example in the initial training, we train the model with 3 input feature (featureA, feature B, and feature C).
After that, we use continual learning to update the model with different number inputs (feature A, feature B, feature C, and feature D).
Is it possible to do that with this ?

[2022-10-06 09:05] AndreaCossu commented on #1141
Yes, it is possible. The idea is similar to the multi-head model, which incrementally adds new output heads. I suggest you to look at multihead models under `avalanche/models`. You need to expand the first input layer instead of the output layer during the call to `adaptation` (called automatically by avalanche at the end of each training experience).

[2022-10-06 15:43] #1133 closed, assigned to nobody

[2022-10-06 15:43] #1131 closed

[2022-10-06 15:43] #1127 closed

[2022-10-06 15:43] #1125 closed

[2022-10-06 15:43] #1124 closed

[2022-10-06 15:44] #1123 closed

[2022-10-06 15:44] #1086 closed

[2022-10-06 15:45] #1025 closed

[2022-10-07 01:32] irfanfadhullah commented on #1141
I got it. Thanks a lot for the explanation. I will try to do some experiments.

[2022-10-10 12:20] 3koozy opened #1145 "unable to assign different learning rates to different param_groups in an optimizer"
🐛 **Describe the bug**
Hello guys, I hope you're having a wonderful day :).
I tried assigning multiple learning rates onto different param_groups in an optimizer, but I was unable to run it due to avalanche built-in assert :

[code]

is there a specific reason why this assertion was put in place ? and if so, how can we assign different lr for different params_groups ?
my use case is basically to f

[2022-10-11 06:40] irfanfadhullah commented on #1141
I have another question, is it possible ot change the the input based on the availability of data?
For example, the input can be 5 input, 4 input, or 7 input (the number of input is dynamic)

[2022-10-11 08:29] AntonioCarta commented on #1145
In short, the assert is there to warn you that you should implement your own `reset_optimizer`. By default, `reset_optimizer` makes some assumptions about the param groups, but if you have multiple param groups, you probably want to make your own decision.

Admittedly, we should make the warning nicer.

[2022-10-12 14:50] #422 closed

[2022-10-12 14:50] #464 closed

[2022-10-12 14:52] #999 closed

[2022-10-12 14:52] AntonioCarta opened #1146 "update datasets notebooks"
.

[2022-10-12 14:54] AntonioCarta opened #1147 "make transformation_group immutable objects"
right now transformation groups have an attribute `current_group`, which makes them mutable. We could manage `current_group` with the `AvalancheDataset` and pass it explicitly to the transformation groups. This will make transformations immutable and simplify a bit the code.

[2022-10-12 14:56] AntonioCarta commented on #1141
Yes, you can do it just as you can do it for the output. How you do it depends on what you want exactly. Please don't open issues to discuss usage questions.

[2022-10-12 14:56] #1141 closed

[2022-10-12 15:01] #1139 closed

[2022-10-12 15:03] #1001 closed

[2022-10-12 15:20] #1114 closed

[2022-10-12 15:29] SinHanYang opened #1148 "Evaluate test_stream after every training epoch"
### Discussed in https://github.com/ContinualAI/avalanche/discussions/1111

<div type='discussions-op-text'>

<sup>Originally posted by **SinHanYang** August  8, 2022</sup>
Hi, I tried to evaluate the model on all experiences after every epoch by test dataset, but it doesn't work as expected.

I did experiment on `CIFAR10` dataset, and made scenario from `nc_benchmark`:
[code]

Second, I set `eval

[2022-10-13 06:56] AntonioCarta commented on #1148
your `train` call is wrong. You should use: `res = cl_strategy.train(experience, eval_streams=[scenario.test_stream]))`

[2022-10-13 06:56] #1148 closed

[2022-10-13 12:43] #1116 closed

[2022-10-13 12:43] #1121 closed

[2022-10-13 12:43] #1026 closed

[2022-10-13 14:45] AntonioCarta commented on #953
I started this PR by implementing the interface for LwF (`avalanche.training.regularization`). Now it can be used easily outside of Avalanche strategies. We can do the same for the other regularization strategies.

[2022-10-16 07:05] invisprints opened #1153 "Can't run MAS and RWalk streagy on the MTCNN"
🐛 **Describe the bug**
MAS and RWalk plugins cannot work on the MTCNN.

🐜 **To Reproduce**

[code]

[2022-10-19 17:33] BenCrulis opened #1156 ".train() should support a single eval stream"
I'm trying to make the JointTraining strategy automatically evaluate the model on the test stream at the end of every epoch.

🐛 **Describe the bug**
The call to `joint_train.train` crashed with a `TypeError: 'ClassificationStream' object does not support item assignment`

🐜 **To Reproduce**
[code]

🐝 **Expected behavior**
I'm expecting the `.train()` method to automatically evaluate the model on t

[2022-10-20 09:07] AntonioCarta opened #1157 "Convert experience ID to string"
I suggest to propose converting experience IDs to strings. Advantages of string identifiers:
- we can have different names for different scenarios
    - class-incremental "E0", "E1", ...
    - task-incremental "T0", "T1", ...
    - OCL "T0E0", "T0E1", where T indicates the "big" experience and E is the position in the stream

This change would be helpful for metric/logging because now we can use m

[2022-10-20 09:09] AntonioCarta commented on #1156
In general `train` expects a list of streams so that you can do `strategy.train(train_stream, [train_stream, valid_stream])` to eval both on training and validation streams.

I'll leave this open because I think we can add support for the single stream too.

[2022-10-20 09:11] WenjinW opened #1158 "Small error in the demo"
🐛 **Describe the bug**
The "scenario" should be modified to "benchmark" for running the demo in [Putting all Together](https://avalanche.continualai.org/getting-started/learn-avalanche-in-5-minutes#putting-all-together) successfully.
![image](https://user-images.githubusercontent.com/30342227/196906729-4eb3b79d-3a86-4929-9102-3380b815a588.png)

[2022-10-20 09:23] AntonioCarta commented on #1158
Thanks. Fixed it.

[2022-10-20 09:23] #1158 closed

[2022-10-20 09:25] #711 closed

[2022-10-20 12:25] #1079 closed

[2022-10-20 12:40] HamedHemati commented on #1157
In general, having experience labels sounds like a good idea, but I don't get which attribute you want to change exactly.
Are you talking about `experience.task_labels` or `experience.current_experience`?  because both of them are used for generating names for metrics.

[2022-10-20 14:10] AntonioCarta commented on #1157
I mean `experience.current_experience`. `task_labels` are ok because they are needed during training.

[2022-10-20 14:30] HamedHemati opened #1159 "Support IterableDataset"
Hi everyone

I'm opening this issue to discuss and share ideas about how to build infinite real-time streams in Avalanche.

In simple words, the idea is to add the ability to create real-time (or technically infinite) online CL streams in Avalanche. There are good reasons for having such streams:
- if we have a very large dataset that we can't read at once
- if we want to retrieve data and create

[2022-10-20 16:02] HamedHemati commented on #1159
Ok, I see. So, for the first case, your suggestion is that, similar to the online stream generator, we can define a scenario generator whose `train_stream` is a lazy iterator over experiences created in real time using the data retrieved from an iterable dataset. I think, that makes more sense than pushing it to the `train()` function inside `BaseTemplate` considering the definition of "experience

[2022-10-21 14:40] AntonioCarta commented on #1159
Exactly. We can do it as soon as there is a need for it, but right now I don't see it. All the datasets used in the CL literature are not `IterableDataset`s.

[2022-10-23 13:16] WenjinW commented on #1093
I encounter the same problem with MTSimpleMLP(). Is there any progress?

[2022-10-25 08:33] PabloMese opened #1163 "Problems in model adaptation"
Hi, I'm implementing my own code based in some of the Avalanche features and I'm experiencing some issue with the model adaptation in a class incremental setting.

I'm following the code in [ https://avalanche-api.continualai.org/en/v0.1.0/_modules/avalanche/models/dynamic_modules.html#IncrementalClassifier](url). After a model being trained in the baseline experience and when I pass its weights a

[2022-10-25 08:51] AndreaCossu commented on #1163
If you are not using any CL strategy, forgetting will occur in class-incremental settings. This is not a problem related to model adaptation.

[2022-10-25 10:05] PabloMese commented on #1163
But the 'forggeting' that I'm experiencing is not related to the CL strategy. Between incremental experiences when the model is adapted to include the new classes is when the 'forggeting ocuurs'

[2022-10-25 10:06] AndreaCossu commented on #1163
This is the expected behavior in class-incremental. Introduction of new classes causes forgetting unless a proper CL strategy is used.

[2022-10-25 10:59] PabloMese commented on #1163
Before training?

[2022-10-25 11:35] HamedHemati commented on #1163
@PabloMese are you saying that the accuracy of previous classes after only dynamically extending the linear layer (even before training on the new task) goes down?

[2022-10-25 11:44] HamedHemati commented on #1163
If this is the case, then that could be possible because of the random initialization of the new node weights. Maybe initializing the new nodes with very small weights and zero bias can help?

[2022-10-25 11:49] PabloMese commented on #1163
That's exactly my problem. Sorry if I have not explained myself well.

[2022-10-25 11:52] PabloMese commented on #1163
I tried to initialize them with zeros in weights and bias but this does not make sense because logits can be negative before the final softmax.

[2022-10-25 11:54] HamedHemati commented on #1163
If you're using cross-entropy, that's not a problem. It will automatically compute the softmax of the logits and everything will become positive.

[2022-10-25 12:05] AndreaCossu commented on #1163
If that's the case, changing the initialization as suggested by @HamedHemati should work. Can you provide a minimal working example to reproduce the behavior?

[2022-10-25 12:51] HamedHemati opened #1164 "Support for interactive buffers"
Some limitations with the current version of the `ReplayPlugin` make it hard (or even impossible) to implement some online CL strategies.

Currently, for every new experience, `ReplayBuffer` creates a `ReplayDataloader` which goes through both the experience's dataset and the buffer's dataset in parallel.

Here are some examples where this type of concatenation can be problematic:
- If the buffer

[2022-10-25 13:34] AntonioCarta commented on #1164
If I understand correctly, the problem here is that using pytorch dataloaders is inefficient in OCL because the dataloader initialization is quite expensive and you want to avoid if you only need to sample a single minibatch.

To solve this, we don't need a new buffer type, we need to change the data loading for OCL. For example, we could add a sample method to the buffer and use that instead, lik

[2022-10-25 19:47] yonatansverdlov opened #1165 "Expected behavior"
Hi There.
If for example I have a pretrained model and I want to apply EWC plugin, and to begin training with its regulization I can't as its coefficients are not computed yet.
 I think that the feature of pretrained model is a must to have a fair baseline and to save computation.

[2022-10-26 07:13] PabloMese commented on #1163
I'm collecting the necessary code and data to reproduce the behavior and I will share it asap.

[2022-10-28 07:36] AntonioCarta commented on #1075
Fixed in #1167

[2022-10-28 07:36] #1075 closed

[2022-10-28 07:38] AntonioCarta commented on #1165
We use EWC as described in the original paper. What you are proposing is a different method. You would have to modify the EWC plugin to do this. It should a simple modification since you can reuse the same importance computation, you just need to give it a dataset.

[2022-10-28 08:29] yonatansverdlov commented on #1165
Fully agree.
I just thought about adding this feature to all similar plugins as it would
be convenient for all users.

בתאריך יום ו׳, 28 באוק׳ 2022, 10:38, מאת Antonio Carta ‏<
***@***.***>:

[2022-10-28 13:10] AntonioCarta commented on #1165
We are adding support for checkpointing and serialization of strategies, which should partially cover what you ask as long as you train your pretrained model with avalanche. As an alternative, we could also add support for initializing some plugins with some precomputed values (e.g. importances that you already have).

I will leave this open as a low priority feature request. For the moment, you c

[2022-10-30 02:23] ContinualAI-bot opened #1169 "Creation of a new envirnment failed for python 3.8"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-10-30 02:23] ContinualAI-bot opened #1170 "Creation of a new envirnment failed for python 3.7"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-10-30 02:23] ContinualAI-bot opened #1171 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-10-30 02:23] ContinualAI-bot opened #1172 "Creation of a new envirnment failed for python 3.1"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-11-03 10:49] WenjinW opened #1174 "How to use EpochAccuracy for valid data during evaluation stage?"
Hi,

Thanks for your contributions to the continuing learning community.
Recently, I've been having some trouble working with Avalanche.

I want to report the EpochAccuracy for the valid data during the evaluation stage. However, EpochAccuracy only supports the training stage. I try to define a custom AccuracyPluginMetric to solve this problem, however, according to the implementation of the Gener

[2022-11-03 11:19] WenjinW opened #1175 "The lack of description of "class_balanced_split_strategy" in document"
Hi,

Thanks for your contributions to the continuing learning community.

When using the "benchmark_with_validation_stream" to generate a validation stream, I was pleasantly surprised to find the built-in function "class_balanced_split_strategy".

However, the description of "benchmark_with_validation_stream" in the [document](https://avalanche-api.continualai.org/en/v0.2.1/generated/avalanche.ben

[2022-11-06 02:06] ContinualAI-bot opened #1178 "Creation of a new envirnment failed for python 3.8"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-11-06 02:08] ContinualAI-bot opened #1179 "Creation of a new envirnment failed for python 3.7"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-11-06 02:09] ContinualAI-bot opened #1180 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-11-06 02:09] ContinualAI-bot opened #1181 "Creation of a new envirnment failed for python 3.1"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-11-08 09:08] AntonioCarta commented on #1175
Agree. We need to update the documentation about this.

[2022-11-08 09:11] AntonioCarta commented on #1174
You need to set `eval_every` in your strategy, which controls how often you do the evaluation inside the training loop. What you want is the [ExperienceAccuracy](https://avalanche-api.continualai.org/en/v0.2.1/generated/avalanche.evaluation.metrics.ExperienceAccuracy.html#avalanche.evaluation.metrics.ExperienceAccuracy).

Please use issues only for bugs and feature request. Questions should be ope

[2022-11-08 12:33] lantao1234 commented on #1075
Sorry, i still do not understand how to fix the OOM bug.  How can i use this fixed information?
Thank you.

[2022-11-08 13:00] AntonioCarta commented on #1075
Are you using the master branch? it is sufficient to set a small enough `eval_batch_size`

[2022-11-08 13:59] ContinualAI-bot opened #1186 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-11-08 14:54] lrzpellegrini commented on #1186
Issue related to: https://github.com/osmr/imgclsmob/issues/103

[2022-11-08 14:55] #1179 closed

[2022-11-08 14:55] #1180 closed

[2022-11-08 14:55] #1181 closed

[2022-11-08 14:55] #1169 closed

[2022-11-08 14:55] #1170 closed

[2022-11-08 14:55] #1171 closed

[2022-11-08 14:55] #1172 closed

[2022-11-08 15:36] #1186 closed

[2022-11-08 15:46] ContinualAI-bot opened #1189 "Creation of a new envirnment failed for python 3.1"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-11-08 15:46] ContinualAI-bot opened #1190 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-11-08 15:47] ContinualAI-bot opened #1191 "Creation of a new envirnment failed for python 3.7"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-11-08 15:47] ContinualAI-bot opened #1192 "Creation of a new envirnment failed for python 3.8"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-11-10 13:38] lantao1234 commented on #1075
ok, thank you very much.

---Original---
From: "Antonio ***@***.***&gt;
Date: Tue, Nov 8, 2022 21:00 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [ContinualAI/avalanche] CUDA out of memory in iCaRL strategy (Issue #1075)

Are you using the master branch? it is sufficient to set a small enough eval_batch_size

—
Reply to this email directly, view it on GitHub, or unsubscribe

[2022-11-14 15:16] AlbinSou opened #1197 "OnlineCLExperience has no attribute classes_in_this_experience"
🐛 **Describe the bug**

When using online strategies, an error occurs in IncrementalClassifier model adaptation,

The error in question:

[code]

🐜 **To Reproduce**

[code]

🐝 **Expected behavior**
In previous versions (idk which commit exactly made it fail), this attribute was existing both for normal and online experiences. The same code works fine with non-online experiences in the current vers

[2022-11-17 10:06] AntonioCarta commented on #1197
Thanks for reporting the issue. We have to fix this. I was thinking about providing some simple wrapper like `as_multitask/as_supervised` to add the necessary attributes to barebone experiences which only have the dataset. This way, users can also change the benchmark with simple operations (like going from task-agnostic to task-aware).

[2022-11-17 15:07] AntonioCarta commented on #1128
@radandreicristian here you can find an example creating a benchmark starting from huggingface datasets. It's just a toy example for the moment (same data for all tasks) but it shows the support of NLP stuff. You can also see how to modify strategies to handle huggingface samples.

I'm closing this issue but feel free to open others if you have any suggestions.

[2022-11-17 15:08] AntonioCarta opened #1203 "Roadmap for 0.3.0"
I'm opening this issue to keep track of the multiple issues that we have to fix before the next version. Feel free to edit it.

**Features**
- [x] MIR #1201
- [x] Interactive buffer #1198
- [x] BiC #1193
- [ ] Expert Gate #1048
- [x] fix stream-level metrics #1093

**Continuous Integration & Tests**

- [x] Check that CLB reach the expected performance for the release version @AndreaCossu

**Docume

[2022-11-17 15:26] AndreaCossu commented on #1093
The call to `list` split the stream into a list of single experiences which are treated as separate streams with only one experience.
Calling `[stream[:2]]` fixes it.

[2022-11-17 15:31] AntonioCarta commented on #1093
@AndreaCossu I think we need a more robust solution. We should try to normalize the `eval_streams` argument so that all the reasonable values work (`stream[0]`, `[stream[0]]`, `stream[:2]`, `[stream[:2]]`)

[2022-11-17 15:39] AndreaCossu commented on #1093
We can simply add this to the `train` call:
[code]
to cover the cases you mentioned.

The case mentioned in this issue can be solved only by forbidding the user to add an object of type experience in the `eval_streams` list. We can easily catch this and raise an error. Otherwise, if we want to leave the freedom, it is up to the user to provide a correct input.

[2022-11-17 15:49] AntonioCarta commented on #1093
I don't think that check is enough. For example `eval_streams=list(stream[:2])` still considers the experiences as separate streams. We have to check the stream name and benchmark instance of the experiences to check whether they come from different streams or the same stream.

[2022-11-17 16:42] ContinualAI-bot opened #1207 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-11-17 16:43] ContinualAI-bot opened #1208 "Creation of a new envirnment failed for python 3.1"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-11-17 16:45] ContinualAI-bot opened #1209 "Creation of a new envirnment failed for python 3.7"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-11-17 16:46] ContinualAI-bot opened #1210 "Creation of a new envirnment failed for python 3.8"
Here are the differences between the last working environment and the new one that I tried to run:

[code]

[2022-11-19 22:25] 3koozy commented on #1093
Could this affect EarlyStoppingPlugin? because I am having strange results with it for a while now and didn't know why.
find a text log snippet below with the issue.
the strategy early stops at epoch 32 while it achives improved eval_loss at epoch 25 (eval_loss = 0.4676) and
32 (eval_loss = 0.4382) and
.
parameters:
`EarlyStoppingPlugin(patience=10, val_stream_name='test_stream', metric_name = "Lo

[2022-11-20 02:03] ContinualAI-bot opened #1211 "Creation of a new envirnment failed for python 3.9"
Here are the differences between the last working environment and the new one that I tried to run:

[code]